<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--引入百度富文本编辑器-->
    <script src="./ueditor/ueditor.config.js"></script>
    <script src="./ueditor/ueditor.all.min.js"></script>
    <script src="./ueditor/lang/zh-cn/zh-cn.js"></script>
</head>
<body>
    <textarea style="width: 100%;height: 250px" id="container"  name="content" type="text/plain">
                 请发布你的文章
            </textarea>
<script>
    var editor =  UE.getEditor('container');
     var content = editor.getContent();
</script>

</body>
</html>