<!DOCTYPE html>
<html lang="zh-CN">
 <head> 
  <meta charset="utf-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ --> 
  <meta name="description" content="" /> 
  <meta name="author" content="" /> 
  <link rel="icon" href="./img/asset-favicon.ico" /> 
  <title>校园社交-活动</title>
  <!-- 页面 css js --> 
  <link rel="stylesheet" type="text/css" href="./plugins/normalize-css/normalize.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/yui/cssgrids-min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/sui/sui.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/sui/sui-append.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/font-awesome/css/font-awesome.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/widget-base.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/widget-head-foot.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/page-sj-activity-detail.css" />
  <script src="./js/jquery-3.4.1.js"></script>
  <script src="./js/vuejs-2.5.16.js"></script>
  <script src="./js/axios-0.18.0.js"></script>
  <script src="./js/schoolUrl.js"></script>
  <script src="./js/moment.js"></script>
  <style>
   [v-cloak]{
    display: none;
   }
  </style>
 </head> 
 <body> 
  <!--引用组件--> 
  <div class="activity-head"> 
   <div class="wrapper">
    <!--头部导航-->
    <header id="index_header" v-cloak>
     <div class="sui-navbar" >
      <div class="navbar-inner">
       <!--<a href="index-logined.html" class="sui-brand">-->
       <a href="#" class="sui-brand">
        <!--<div >开心校园</div>-->
        <!--图标-->
        <!--./img/asset-favicon.ico
        ./img/asset-logo-black.png
        -->
        <img src="./img/asset-logo-black.png"  alt="社交" />
       </a>
       <ul class="sui-nav">
        <li ><a href="./index.html">首页</a></li>
        <li><a href="./qa-logined.html">问答</a></li>
        <li class="active"><a href="./activity-index.html">活动</a></li>
        <li><a href="./makeFriends-index.html">交友</a></li>
        <!--<li><a href="./spit-index.html">吐槽</a></li> -->
        <!--<li><a href="./recruit-index.html">招聘</a></li>-->
       </ul>
       <form class="sui-form -pull-right">
        <input type="text" placeholder="输入关键词..." />
        <span class="btn-search fa fa-search"></span>
        <!--搜索-->

        <!--这部分为用户管理部分 没有登录状况-->
        <div class="sui-nav pull-right info" v-show="show">
         <li><a href="tologin_register.html" target="_blank">注册</a></li>
         <li><a href="tologin_register.html" target="_blank" class="sui-btn btn-login">登录</a></li>
        </div>
        <!--这部分为用户管理部分 没有登录状况-->
        <!--这部分为用户管理部分 登录后状况-->
        <div class="sui-nav pull-right info" v-show="!show">
         <li><a href="./other-notice.html" target="_blank" class="notice">通知</a></li>
         <!--中间加号-->
         <li class="hover">
          <span class="fa fa-plus "></span>
          <ul class="hoverinfo">
           <li><i class="fa fa-share-alt" ></i> <a href="boke-submit.html">去分享</a></li>
           <li><i class="fa fa-question-circle" aria-hidden="true"></i> <a href="./qa-submit.html" target="_blank">提问题</a></li>
           <li><i class="fa fa-comments" aria-hidden="true"></i><a href="./spit-submit.html" target="_blank">去吐槽</a></li>
           <li><i class="fa fa-heartbeat" aria-hidden="true"></i> <a href="./makeFriends-submit.html" target="_blank">发约会</a></li>
          </ul> </li>
         <!--中间加号-->
         <li><a href="./person-myfile.html" target="_blank" class="homego"><img src="./img/widget-photo.png" alt="用户头像" /></a></li>
        </div>
       </form>
       <!--这部分为用户管理部分 登录后状况-->
      </div>
     </div>
    </header>
    <!--头部导航-->
   </div> 
  </div> 
  <!--中间布局--> 
  <div class="wrapper activities"> 
   <h1>APMCon2017中国应用性能管理大会</h1> 
   <div class="img-text"> 
    <div class="left-img"> 
     <img src="./img/widget-acti.png" alt="" /> 
    </div> 
    <div class="right-txt"> 
     <p>开始时间： 2017-07-07 08:00 周五</p> 
     <p>结束时间： 2017-07-10 20:00 周一</p> 
     <p>举办地点： 深圳市华侨城洲际酒店</p> 
     <p>主办方：infoQ</p> 
     <p>报名截止： <span class="big">85</span>天 <span class="big">15</span>时 <span class="big">16</span>分 <span class="big">10</span>秒</p> 
     <div class="join"> 
      <button class="sui-btn btn-danger">立即报名</button> 
      <span class="will">报名即将开始</span> 
     </div> 
    </div> 
   </div> 
   <div class="simple-text"> 
    <div class="left-content"> 
     <div class="content-item"> 
      <div class="tit">
       <span>大会介绍</span>
      </div> 
      <div class="text"> 
       <h4>实践第一、案例为主</h4> 
       <p>ArchSummit 全球架构师峰会是 InfoQ 中国团队推出的面向高端技术管理者、架构师的技术大会，参会者中超过 50% 拥有 8 年以上的工作经验。ArchSummit 秉承“实践第一、案例为主”的原则，展示新技术在行业应用中的最新实践，技术在企业转型中的加速作用，帮助企业技术管理者、CTO、架构师做好技术选型、技术团队组建与管理，并确立技术对于产品和业务的关键作用。</p> 
      </div> 
     </div> 
     <!--<div class="content-item"> -->
      <!--<div class="tit">-->
       <!--<span>议题简介</span>-->
      <!--</div> -->
      <!--<div class="text"> -->
       <!--<h4>7月7日，星期五</h4> -->
       <!--<p>#区块链以及金融新技术</p> -->
       <!--<p>随着各国放宽金融法规，在 FinTech 创新上，尤其区块链领域正受到前所未有的支持，目前区块链技术有哪些最佳实践？如何替企业降低成本？金融新技术还有哪些玩法？我们将邀请研究 FinTech 的技术专家，一起看金融技术在这阶段的深度实践。</p> -->
      <!--</div>-->
     <!--</div> -->
    </div> 
    <div class="right-intro"> 
     <div class="content-item"> 
      <div class="tit">
       <span>活动组织者</span>
      </div> 
      <div class="text"> 
       <p>主办方： infoQ</p> 
      </div> 
     </div> 

    </div> 
   </div> 
  </div>

  <!--将导航栏判断此页vue代码引进来-->
  <script type="text/javascript" src="./js/Nav_loginManager.js">


  </script>

  <!--底部版权-->
  <!--尾部-->
  <div id="footer">

  </div>
  <script>
      $('#footer').load('footer.html');
  </script>
  <!--尾部-->

 </body>
</html>