<!DOCTYPE html>
<html lang="zh-CN">
 <head> 
  <meta charset="utf-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ --> 
  <meta name="description" content="" /> 
  <meta name="author" content="" /> 
  <link rel="icon" href="./img/asset-favicon.ico" /> 
  <title>校园社交-活动</title>
  <!-- 页面 css js --> 
  <link rel="stylesheet" type="text/css" href="./plugins/normalize-css/normalize.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/yui/cssgrids-min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/sui/sui.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/sui/sui-append.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/font-awesome/css/font-awesome.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/widget-base.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/widget-head-foot.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/page-sj-activity-detail.css" />
  <script src="./js/jquery-3.4.1.js"></script>
  <script src="./js/vuejs-2.5.16.js"></script>
  <script src="./js/axios-0.18.0.js"></script>
  <script src="./js/schoolUrl.js"></script>
  <script src="./js/moment.js"></script>
  <style>
   [v-cloak]{
    display: none;
   }
  </style>
 </head> 
 <body> 
  <!--引用组件--> 
  <div class="activity-head"> 
   <div class="wrapper">
    <!--头部导航-->
    <header id="index_header" v-cloak>
     <div class="sui-navbar" >
      <div class="navbar-inner">
       <!--<a href="index-logined.html" class="sui-brand">-->
       <a href="#" class="sui-brand">
        <!--<div >开心校园</div>-->
        <!--图标-->
        <!--./img/asset-favicon.ico
        ./img/asset-logo-black.png
        -->
        <img src="./img/asset-logo-black.png"  alt="社交" />
       </a>
       <ul class="sui-nav">
        <li ><a href="./index.html">首页</a></li>
        <li><a href="./qa-logined.html">问答</a></li>
        <li class="active"><a href="./activity-index.html">活动</a></li>
        <li><a href="./makeFriends-index.html">交友</a></li>
        <!--<li><a href="./spit-index.html">吐槽</a></li> -->
        <!--<li><a href="./recruit-index.html">招聘</a></li>-->
       </ul>
       <form class="sui-form -pull-right">
        <input type="text" placeholder="输入关键词..." />
        <span class="btn-search fa fa-search"></span>
        <!--搜索-->

        <!--这部分为用户管理部分 没有登录状况-->
        <div class="sui-nav pull-right info" v-show="show">
         <li><a href="tologin_register.html" target="_blank">注册</a></li>
         <li><a href="tologin_register.html" target="_blank" class="sui-btn btn-login">登录</a></li>
        </div>
        <!--这部分为用户管理部分 没有登录状况-->
        <!--这部分为用户管理部分 登录后状况-->
        <div class="sui-nav pull-right info" v-show="!show">
         <li><a href="./other-notice.html" target="_blank" class="notice">通知</a></li>
         <!--中间加号-->
         <li class="hover">
          <span class="fa fa-plus "></span>
          <ul class="hoverinfo">
           <li><i class="fa fa-share-alt" ></i> <a href="boke-submit.html">去分享</a></li>
           <li><i class="fa fa-question-circle" aria-hidden="true"></i> <a href="./qa-submit.html" target="_blank">提问题</a></li>
           <li><i class="fa fa-comments" aria-hidden="true"></i><a href="./spit-submit.html" target="_blank">去吐槽</a></li>
           <li><i class="fa fa-heartbeat" aria-hidden="true"></i> <a href="./makeFriends-submit.html" target="_blank">发约会</a></li>
          </ul> </li>
         <!--中间加号-->
         <li><a href="./person-myfile.html" class="homego"><img src="./img/widget-photo.png" alt="用户头像" /></a></li>
        </div>
       </form>
       <!--这部分为用户管理部分 登录后状况-->
      </div>
     </div>
    </header>
    <!--头部导航-->
   </div> 
  </div> 
  <!--中间布局--> 
  <div class="wrapper activities" id="activityDetailApp">
   <h1 v-text="gathering.name">APMCon2017中国应用性能管理大会</h1>
   <div class="img-text"> 
    <div class="left-img"> 
     <img :src="gathering.image" alt="" />
    </div> 
    <div class="right-txt"> 
     <p >开始时间：<span v-text="gathering.starttime"></span> </p>
     <!--<p >结束时间： <span v-text="gathering.endtime"></span></p>-->
     <p>举办地点： <span v-text="gathering.address"></span></p>
     <p>主办方：<span v-text="gathering.sponsor"></span></p>
     <p>联系电话: <span v-text="gathering.phone"></span></p>
     <p>微信号: <span v-text="gathering.weixin"></span></p>
     <!--<p>报名截止： <span class="big">85</span>天 <span class="big">15</span>时 <span class="big">16</span>分 <span class="big">10</span>秒</p> -->
     <div class="join">
     <!--<button class="sui-btn btn-danger" style="padding-left: 0px"> </button>-->
      <!--<br/><br/>-->
      <!--<button class="sui-btn btn-danger" style="padding-left: 0px"></button>-->
      <!--<span class="big"></span>-->
      <!--<br/>-->
      <!--<span class="big"> </span>-->
     </div>
    </div> 
   </div> 
   <div class="simple-text"> 
    <div class="left-content"> 
     <div class="content-item"> 
      <div class="tit">
       <span>活动介绍</span>
      </div> 
      <div class="text"> 
       <!--<h4>实践第一、案例为主</h4> -->
       <p v-text="gathering.detail"></p>
      </div> 
     </div>
    </div> 
    <div class="right-intro"> 
     <div class="content-item"> 
      <div class="tit">
       <span>活动组织者</span>
      </div> 
      <div class="text"> 
       <p>主办方：<span v-text="gathering.sponsor"></span></p>
      </div> 
     </div> 

    </div> 
   </div> 
  </div>

  <script type="text/javascript">
     new Vue({
         el:"#activityDetailApp",
         data:{
             gathering:{},
         },
         methods:{
             loadActivity:function () {
                 var url = window.location.href ;
                 var cs = url.split('?')[1];    //获取?之后的参数字符串
                 var params = cs.split('=');
                 var value = params[1];  //文章id
                 console.info("param value="+value)
                 //-------
                 var url = school_user_server+"/gathering/"+value;

                 var _this = this;
                 //json请求用默认方式
                 axios.get(url).then(function (response) {
                     _this.result = response.data;
                     console.info(_this.result.message);
                     _this.gathering = _this.result.data;
                 }).catch(function (err) {
                     console.log("网络错误");
                 });
             }
         },  //methods
         created(){
             this.loadActivity();
         }
     });
  </script>

  <!--将导航栏判断此页vue代码引进来-->
  <script type="text/javascript" src="./js/Nav_loginManager.js">


  </script>

  <!--底部版权-->
  <!--尾部-->
  <div id="footer">

  </div>
  <script>
      $('#footer').load('footer.html');
  </script>
  <!--尾部-->

 </body>
</html>