<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./img/asset-favicon.ico">
    <title>社交-提交头条</title>

    <!-- 页面 css js -->
    <!-- <script type="text/javascript" src="../../plugins/sui/sui.min.js"></script> -->

    <link rel="stylesheet" type="text/css" href="./plugins/normalize-css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="./plugins/yui/cssgrids-min.css" />
    <link rel="stylesheet" type="text/css" href="./plugins/sui/sui.min.css" />
    <link rel="stylesheet" type="text/css" href="./plugins/sui/sui-append.min.css" />
    <link rel="stylesheet" type="text/css" href="./plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/widget-base.css" />
    <link rel="stylesheet" type="text/css" href="./css/widget-head-foot.css" />
    <link rel="stylesheet" type="text/css" href="./css/page-sj-headline-submit.css" />
   <!--引入-->
    <script src="./js/jquery-3.4.1.js"></script>
    <script src="./js/vuejs-2.5.16.js"></script>
    <script src="./js/axios-0.18.0.js"></script>
    <script src="./js/schoolUrl.js"></script>
    <!--引入百度富文本编辑器-->
    <script src="./ueditor/ueditor.config.js"></script>
    <script src="./ueditor/ueditor.all.min.js"></script>
    <script src="./ueditor/lang/zh-cn/zh-cn.js"></script>

</head>

<body>
    <div class="wrapper">
        <!--引用组件-->
        <!--头部导航-->
 <header id="index_header">
  <div class="sui-navbar">
    <div class="navbar-inner">
      <a href="index-logined.html" class="sui-brand"><img src="./img/asset-logo-black.png" alt="社交"/></a>
      <ul class="sui-nav">
        <li class="active"><a href="./index.html">头条</a></li>
        <li><a href="./qa-logined.html" >问答</a></li>
        <li><a href="./activity-index.html" >活动</a></li>
        <li><a href="./makeFriends-index.html" >交友</a></li>
        <li><a href="./spit-index.html" >吐槽</a></li>
        <li><a href="./recruit-index.html"  >招聘</a></li>
      </ul>
        <form class="sui-form -pull-right">
            <input type="text" placeholder="输入关键词..." />
            <span class="btn-search fa fa-search"></span>
            <!--搜索-->

            <!--这部分为用户管理部分 没有登录状况-->
            <div class="sui-nav pull-right info" v-show="show">
                <li><a href="tologin_register.html" target="_blank">注册</a></li>
                <li><a href="tologin_register.html" target="_blank" class="sui-btn btn-login">登录</a></li>
            </div>
            <!--这部分为用户管理部分 没有登录状况-->
            <!--这部分为用户管理部分 登录后状况-->
            <div class="sui-nav pull-right info" v-show="!show">
                <li><a href="./other-notice.html" target="_blank" class="notice">通知</a></li>
                <li class="hover"> <span class="fa fa-plus "></span>
                    <ul class="hoverinfo">
                        <li><i class="fa fa-share-alt" aria-hidden="true"></i> <a href="boke-submit.html">去分享</a></li>
                        <li><i class="fa fa-question-circle" aria-hidden="true"></i> <a href="./qa-submit.html" target="_blank">提问题</a></li>
                        <li><i class="fa fa-comments" aria-hidden="true"></i><a href="./spit-submit.html" target="_blank">去吐槽</a></li>
                        <li><i class="fa fa-heartbeat" aria-hidden="true"></i> <a href="./makeFriends-submit.html" target="_blank">发约会</a></li>
                    </ul> </li>
                <li><a href="./person-homepage.html" target="_blank" class="homego"><img src="./img/widget-photo.png" alt="用户头像" /></a></li>
            </div>
        </form>
        <!--这部分为用户管理部分 登录后状况-->
  </div>
  </div>
  
</header>

    <!--两列布局-->
 <div class="wrapper">
    <div class="submit-headline">
            <!--左侧发布 绑定-->
     <div class="left-box" id="articleApp">
        <h3 class="tit">
            <span>发布头条</span>
        </h3>

        <form class="sui-form form-horizontal">
              <h4 class="tit" >标题:</h4>
              <input type="text" v-model="article.title" style="width: 100%" id="inputEmail" placeholder="标题：不超过30个字符"/>

              <h4 class="tit"> 分类:</h4>
               <select v-model="article.columnid">
                    <option :value ="com.id" v-for="com in columnList" v-text="com.name"></option>
               </select>


            <h4 class="tit">正文:</h4>
            <textarea style="width: 100%;height: 250px" id="container"  name="content" type="text/plain">
                 请发布你的文章
            </textarea>
            <div v-text="successMsg" style="color: red"></div>
            <!--文本编辑器-->
            <!--<div class="submit">-->
                <div >
                <button type="submit" @click.prevent="addArticle()" class="sui-btn btn-xlarge  btn-success">提交</button>
            </div>
        </form>
    </div>



     <!--左侧发布-->
      <!--右侧发布-->
    <div class="right-tips">
        <h3>发帖指南</h3>
        <ul>
            <li>独立思考、自由探索</li>
            <li>发布的内容和互联网、编程开发、产品设计有关</li>
            <li>标题能准确描述的内容，不要发重复的内容</li>
            <li>客观投票，确保你看过这篇内容</li>
            <li>如果你遇到了具体的编程难题，请到 问答平台 提问</li>
            <li>保持友善，禁止任何形式的广告、SEO 推广</li>
            <li>遵循 用户服务条款</li>
        </ul>
    </div>
        <!--右侧发布-->
  </div>
 </div>
</div>
    <!--判断是否登录代码  判断登录通用代码-->
    <script type="text/javascript" src="./js/loginFlag.js" >
    </script>
    <!--判断是否登录代码-->


    <!--将此页导航登录vue代码引进来，导航栏判断登录显示通用代码-->
    <script type="text/javascript" src="./js/Nav_loginManager.js">
    </script>
    <!--文章提交代码引入-->
    <script type="text/javascript" src="./js/boke-submit.js">

    </script>
   <!---->

    <!--尾部通用代码-->
    <div id="footer">
    </div>
    <script>
        $('#footer').load('footer.html');
    </script>
    <!--尾部-->





</body>