<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./img/asset-favicon.ico">
    <title>社交-问答详情</title>

    <!-- 页面 css js -->
    <!-- <script type="text/javascript" src="../../plugins/sui/sui.min.js"></script> -->

    <link rel="stylesheet" type="text/css" href="./plugins/normalize-css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="./plugins/yui/cssgrids-min.css" />
    <link rel="stylesheet" type="text/css" href="./plugins/sui/sui.min.css" />
    <link rel="stylesheet" type="text/css" href="./plugins/sui/sui-append.min.css" />
    <link rel="stylesheet" type="text/css" href="./plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/widget-base.css" />
    <link rel="stylesheet" type="text/css" href="./css/widget-head-foot.css" />
    <link rel="stylesheet" type="text/css" href="./css/page-sj-headline-detail.css" />
    <script src="./js/jquery-3.4.1.js"></script>
    <script src="./js/vuejs-2.5.16.js"></script>
    <script src="./js/axios-0.18.0.js"></script>
    <script src="./js/schoolUrl.js"></script>

    <style>
        [v-cloak]{
            display: none;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <!--引用组件-->

        <!--头部导航-->
        <header id="index_header" v-cloak>
            <div class="sui-navbar" >
                <div class="navbar-inner">
                    <!--<a href="index-logined.html" class="sui-brand">-->
                    <a href="#" class="sui-brand">
                        <!--<div >开心校园</div>-->
                        <!--图标-->
                        <!--./img/asset-favicon.ico
                        ./img/asset-logo-black.png
                        -->
                        <img src="./img/asset-logo-black.png"  alt="社交" />
                    </a>
                    <ul class="sui-nav">
                        <li class="active"><a href="./index.html">首页</a></li>
                        <li><a href="./qa-logined.html">问答</a></li>
                        <li><a href="./activity-index.html">活动</a></li>
                        <li><a href="./makeFriends-index.html">交友</a></li>
                        <!--<li><a href="./spit-index.html">吐槽</a></li> -->
                        <!--<li><a href="./recruit-index.html">招聘</a></li>-->
                    </ul>
                    <form class="sui-form -pull-right">
                        <input type="text" placeholder="输入关键词..." />
                        <span class="btn-search fa fa-search"></span>
                        <!--搜索-->

                        <!--这部分为用户管理部分 没有登录状况-->
                        <div class="sui-nav pull-right info" v-show="show">
                            <li><a href="tologin_register.html" target="_blank">注册</a></li>
                            <li><a href="tologin_register.html" target="_blank" class="sui-btn btn-login">登录</a></li>
                        </div>
                        <!--这部分为用户管理部分 没有登录状况-->
                        <!--这部分为用户管理部分 登录后状况-->
                        <div class="sui-nav pull-right info" v-show="!show">
                            <li><a href="./other-notice.html" target="_blank" class="notice">通知</a></li>
                            <!--中间加号-->
                            <li class="hover">
                                <span class="fa fa-plus "></span>
                                <ul class="hoverinfo">
                                    <li><i class="fa fa-share-alt" ></i> <a href="boke-submit.html">去分享</a></li>
                                    <li><i class="fa fa-question-circle" aria-hidden="true"></i> <a href="./qa-submit.html" target="_blank">提问题</a></li>
                                    <li><i class="fa fa-comments" aria-hidden="true"></i><a href="./spit-submit.html" target="_blank">去吐槽</a></li>
                                    <li><i class="fa fa-heartbeat" aria-hidden="true"></i> <a href="./makeFriends-submit.html" target="_blank">发约会</a></li>
                                </ul> </li>
                            <!--中间加号-->
                            <li><a href="./person-myfile.html" target="_blank" class="homego"><img src="./img/widget-photo.png" alt="用户头像" /></a></li>
                        </div>
                    </form>
                    <!--这部分为用户管理部分 登录后状况-->
                </div>
            </div>
        </header>
        <!--头部导航-->
    </div>
    <!--两列布局-->
    <div class="wrapper headline-content"  id="articleDetailApp">
        <div class="fl left-list" >
            <div class="problem-detail">
    <!-- title area  -->
    <div class="title-intro">
        <h2 v-text="articleAndUser.article.title"></h2>
        <div class="operate">
            <!--  -->
            <span class="fl author">
                <span v-text="articleAndUser.user.nickname" ></span>发布　
                <span class="time" v-text="articleAndUser.user.myschool" ></span>
            </span>
            <!--<span class="fr ">收藏</span>-->
        </div>
        <div class="clearfix"></div>
        <!---->
        <div class="content" v-html="articleAndUser.article.content">

         </div>
    </div>
    <!-- remark area -->
    <div class="answer-intro">
        <h4 class="answer-num">评价</h4>
        <div class="comment-box">
            <form class="comment-form sui-form form-inline">
                <img src="./img/widget-photo.jpg" alt="">
                <div class="input-prepend input-append input-box">
                    <input id="appendedPrependedInput" type="text" class="span2 input-fat real-box" placeholder="写下你的评论"><span class="add-on">提交</span>
                </div>
            </form>
        </div>
        <div class="remark-list">
            <ul class="lists">
                <li class="item">
                    <div class="fl img">
                        <img src="./img/widget-photo.jpg" alt="">
                    </div>
                    <div class="fl text">
                        <p class="author"><span class="name">luckness</span> 发布</p>
                        <p class="word">内推我吧，条件一样，还要人么？内推我吧，条件一样，还要人么？内推我吧，条件一样，还要人么？内推我吧，条件一样，还要人么？内推我吧，条件一样，还要人么？</p>
                        <p class="tool"><a class="callback">回复</a>&nbsp;<span class="remark-num">26条回复</span></p>
                    </div>
                    <div style="clear:both"></div>
                    <div class="edit-box">
                        <form class="comment-form">
                            <textarea row="1" placeholder="使用评论询问更多信息或提出修改意见，请不要在评论里回答问题"></textarea>
                            <button type="submit" class="sui-btn submit-comment">提交评论</button>
                        </form>
                    </div>
                    <ul class="inner-list">
                        <li class="item">
                            <div class="fl img">
                                <img src="./img/widget-photo.jpg" alt="">
                            </div>
                            <div class="fl text">
                                <p class="author"><span class="name">luckness</span> 发布</p>
                                <p class="word">内推我吧，条件一样，还要人么？内推我吧，条件一样，还要人么？内推我吧，条件一样，还要人么？内推我吧，条件一样，还要人么？</p>
                                <p class="tool"><a  class="callback">回复</a>&nbsp;<span class="remark-num">26条回复</span></p>
                            </div>
                            <div style="clear:both"></div>
                            <div class="edit-box">
                                <form class="comment-form">
                                    <textarea row="1" placeholder="使用评论询问更多信息或提出修改意见，请不要在评论里回答问题"></textarea>
                                    <button type="submit" class="sui-btn submit-comment">提交评论</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="item">
                    <div class="fl img">
                        <img src="./img/widget-photo.jpg" alt="">
                    </div>
                    <div class="fl text">
                        <p class="author"><span class="name">luckness</span> 发布</p>
                        <p class="word">内推我吧，条件一样，还要人么？内推我吧，条件一样，还要人么？内推我吧，条件一样，还要人么？内推我吧，条件一样，还要人么？内推我吧，条件一样，还要人么？</p>
                        <p class="tool"><a  class="callback">回复</a>&nbsp;<span class="remark-num">26条回复</span></p>
                    </div>
                    <div style="clear:both"></div>
                    <div class="edit-box">
                        <form class="comment-form">
                            <textarea row="1" placeholder="使用评论询问更多信息或提出修改意见，请不要在评论里回答问题"></textarea>
                            <button type="submit" class="sui-btn submit-comment">提交评论</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <!--<div class="remark-list">-->
            <ul class="lists">
                <li class="item"  v-for="articleReplyUser in articleReplyUsers">
                    <div class="fl img">
                        <img :src="articleReplyUser.user.avatar" alt="">
                    </div>
                    <div class="fl text">
                        <p class="author"><span class="name" v-text="articleReplyUser.user.nickname"></span> 发布</p>
                        <p class="word" v-text="articleReplyUser.articleReply.content"></p>
                        <!--<p class="tool"><a class="callback">回复</a>&nbsp;<span class="remark-num">26条回复</span></p>-->
                    </div>
                    <div style="clear:both"></div>
                    <div class="edit-box">
                        <form class="comment-form">
                            <textarea row="1" placeholder="使用评论询问更多信息或提出修改意见，请不要在评论里回答问题"></textarea>
                            <button type="submit" class="sui-btn submit-comment">提交评论</button>
                        </form>
                    </div>

                </li>
            </ul>

        <!--</div>-->
    </div>
</div>
        </div>
        <div class="fl right-tag">
            <div class="focus similar-problem">
    <div class="img-title">
        <div class="fl img">
            <img src="./img/widget-photo.jpg" alt="">
        </div>
        <div class="fl btn-focus">
            <h4>PHP达人</h4>
            <button class="sui-btn btn-info btn-attention">关注</button>
        </div>
        <div class="clearfix"></div>
    </div>
    <ul class="problem-list">
        <li class="list-item">
            <p class="list-title">如果你还是象棋新手，学会这些套路，你就可以去破残局赚钱了！</p>
        </li>
        <li class="list-item">
            <p class="list-title">如果你还是象棋新手，学会这些套路，你就可以去破残局赚钱了！</p>
        </li>

    </ul>
</div>

<div class="similar-problem">
    <h3 class="title">热门吐槽</h3>
    <ul class="problem-list">
        <li class="list-item">
            <p class="list-title">如果你还是象棋新手，学会这些套路，你就可以去破残局赚钱了！</p>
        </li>
        <li class="list-item">
            <p class="list-title">如果你还是象棋新手，学会这些套路，你就可以去破残局赚钱了！</p>
        </li>
    </ul>
</div>
        </div>
        <div class="clearfix"></div>
    </div>


    <script type="text/javascript">
        new Vue({
            el:"#articleDetailApp",
            data:{
                articleAndUser:{},
                articleReplyUsers:[]
            },
            methods:{
                loadArticle:function () {
                    var url = window.location.href ;
                    var cs = url.split('?')[1];    //获取?之后的参数字符串
                    var params = cs.split('=');
                    var value = params[1];  //文章id


                    //-------
                    var url = school_user_server+"/article/findDetailArticle/"+value;
                    var _this = this;
                    //json请求用默认方式
                    axios.get(url).then(function (response) {
                        _this.result = response.data;
                        console.info(_this.result.message);
                        _this.articleReplyUsers = _this.result.data;

                    }).catch(function (err) {
                        console.log("网络错误");
                    });

                },
                loadReply:function () {
                    var url = window.location.href ;
                    var cs = url.split('?')[1];    //获取?之后的参数字符串
                    var params = cs.split('=');
                    var value = params[1];  //文章id

                    //-------
                    var url = school_user_server+"/reply/article/"+value;
                    var _this = this;
                    //json请求用默认方式
                    axios.get(url).then(function (response) {
                        _this.result = response.data;
                        console.info(_this.result.message);
                        _this.articleReplys = _this.result.data;
                    }).catch(function (err) {
                        console.log("网络错误");
                    });

                }
            },  //methods
            created(){
                this.loadArticle();
                // this.loadReply();
            }
        });
    </script>


    <!--将导航栏判断此页vue代码引进来-->
    <script type="text/javascript" src="./js/Nav_loginManager.js">

    </script>

    <!--尾部-->
    <div id="footer">

    </div>
    <script>
        $('#footer').load('footer.html');
    </script>
    <!--尾部-->



<script>
// $(function(){
//   $(".hover").hover(function(){
//     $(".hoverinfo").stop().animate({
//        opacity: "show"
//     },"slow");
//     $(this).find(".fa-plus").css("color","#e64620");
//   },function(){
//     $(".hoverinfo").stop().animate({
//        opacity: "hide"
//     },"slow");
//     $(this).find(".fa-plus").css("color","#000");
//   })
// })


    // $(function () {
    //     $(".callback").click(function () {
    //         $(this).parents(".text").siblings(".edit-box").toggle();
    //     });
    // })



    // var onOff = true;
    // $(".btn-attention").click(function () {
    //     if ($(this).onOff) {
    //         $(this).text("关注");
    //         $(this).css({"color":"#e64620","cursor":"not-allowed","background":"#f5f5f5","border-color": "#f5f5f5f5"})
    //         $(this).onOff = false;
    //     } else {
    //         $(this).text("已关注");
    //         $(this).css("color", "#999");
    //         $(this).onOff = true;
    //     }
    // })
</script>
</body>