<!DOCTYPE html>
<html lang="zh-CN">
 <head> 
  <meta charset="utf-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ --> 
  <meta name="description" content="" /> 
  <meta name="author" content="" /> 
  <link rel="icon" href="./img/asset-favicon.ico" /> 
  <title>校园社交-首页</title>
  <!-- 页面 css js --> 
  <!-- <script type="text/javascript" src="../../plugins/sui/sui.min.js"></script> --> 
  <!-- <script type="text/javascript" src="./sj-index.js"></script> --> 
  <link rel="stylesheet" type="text/css" href="./plugins/normalize-css/normalize.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/yui/cssgrids-min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/sui/sui.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/sui/sui-append.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/font-awesome/css/font-awesome.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/widget-base.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/widget-head-foot.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/page-headline-logined.css" />
  <script src="./js/jquery-3.4.1.js"></script>
  <script src="./js/vuejs-2.5.16.js"></script>
  <script src="./js/axios-0.18.0.js"></script>
  <script src="./js/schoolUrl.js"></script>
  <script src="./js/moment.js"></script>
  <style>
   [v-cloak]{
    display: none;
   }
  </style>
 </head> 
 <body>
 <!--包裹整个body-->
  <div class="wrapper"> 
   <!--引用组件--> 
   <!--头部导航-->
   <header id="index_header" v-cloak>
    <div class="sui-navbar" >
     <div class="navbar-inner">
      <!--<a href="index-logined.html" class="sui-brand">-->
      <a href="#" class="sui-brand">
       <!--<div >开心校园</div>-->
       <!--图标-->
       <!--./img/asset-favicon.ico
       ./img/asset-logo-black.png
       -->
       <img src="./img/asset-logo-black.png"  alt="社交" />
      </a>
      <ul class="sui-nav">
       <li class="active"><a href="./index.html">首页</a></li>
       <li><a href="./qa-logined.html">问答</a></li>
       <li><a href="./activity-index.html">活动</a></li>
       <li><a href="./makeFriends-index.html">交友</a></li>
       <!--<li><a href="./spit-index.html">吐槽</a></li> -->
       <!--<li><a href="./recruit-index.html">招聘</a></li>-->
      </ul>
      <form class="sui-form -pull-right">
       <input type="text" placeholder="输入关键词..." />
       <span class="btn-search fa fa-search"></span>
       <!--搜索-->

       <!--这部分为用户管理部分 没有登录状况-->
       <div class="sui-nav pull-right info" v-show="show">
        <li><a href="tologin_register.html" >注册</a></li>
        <li><a href="tologin_register.html"  class="sui-btn btn-login">登录</a></li>
       </div>
       <!--这部分为用户管理部分 没有登录状况-->
       <!--这部分为用户管理部分 登录后状况-->
       <div class="sui-nav pull-right info" v-show="!show">
        <li><a href="#"  class="notice" style="color: red" @click.prevent="loginOut()">退出</a></li>
        <!--中间加号-->
        <!--<li class="hover">-->
        <!--<span class="fa fa-plus "></span>-->
        <!--<ul class="hoverinfo">-->
        <!--<li><i class="fa fa-share-alt" ></i> <a href="boke-submit.html">去分享</a></li>-->
        <!--<li><i class="fa fa-question-circle" aria-hidden="true"></i> <a href="./qa-submit.html" target="_blank">提问题</a></li>-->
        <!--<li><i class="fa fa-comments" aria-hidden="true"></i><a href="./spit-submit.html" target="_blank">去吐槽</a></li>-->
        <!--<li><i class="fa fa-heartbeat" aria-hidden="true"></i> <a href="./makeFriends-submit.html" target="_blank">发约会</a></li>-->
        <!--</ul> </li>-->
        <!--中间加号-->
        <li><a href="./person-myfile.html"  class="homego"><img src="./img/widget-photo.png" alt="用户头像" /></a></li>
       </div>
      </form>
      <!--这部分为用户管理部分 登录后状况-->
     </div>
    </div>
   </header>
   <!--头部导航-->


      <!--左中右部分三列布局-->

   <div class="sj-content" id="indexApp">
    <div class="left-nav">
     <div class="float-nav" id="float-nav">
      <ul class="sui-nav nav-tabs nav-xlarge tab-navbar tab-vertical">
       <li class="active"><a>知识主题</a></li>
       <li><a href="#">牛人专区</a></li>
      </ul>
     </div>
    </div>
    <!--左侧部分-->
    <!--中右部分-->
    <div class="right-content" >
     <!--中间文章展示部分-->
     <div class="fl middle">
      <div class="carousel"> 
       <div id="myCarousel" data-ride="carousel" data-interval="4000" class="sui-carousel slide"> 
        <!--<ol class="carousel-indicators"> -->
         <!--<li data-target="#myCarousel" data-slide-to="0" ></li>-->
         <!--<li data-target="#myCarousel" data-slide-to="1" class="active"></li>-->
         <!--<li data-target="#myCarousel" data-slide-to="2"></li> -->
        <!--</ol> -->
        <div class="carousel-inner">
         <!--中间大图循环-->
         <!--<div class="item">-->
          <!--<img src="./img/widget-banner01.png" /> -->
         <!--</div> -->
         <div class="active item">
          <img src="./img/widget-banner02.png" /> 
         </div>
         <!--中间大图循环-->
        </div> 
       </div> 
      </div>



      <!---->
      <div class="data-list">
       <!--循环 id="articleForEachApp"-->
       <ul class="headline fixed" id="headline"   >
        <!--中间文章循环-->
        <!-- v-for="(ac,index) in articles"-->
        <li class="headline-item" v-for="articleAndUser in articleAndUserList">
         <div class="fl indexImg"> 
          <img src="" /> 
         </div> 
         <div class="words"> 
          <h3>
           <!--v-text="ac.title"-->
           <a :href="articleAndUser.article.url" style="font-weight: lighter;alpha(opacity=50);"  v-text="articleAndUser.article.title">

           </a>

           <!--<span><img src="./img/widget-vip.png" class="vip" /></span>-->
          </h3>
          <h5 class="author">
           <div class="fl">
            <span class="authorName">
             <span @click="hisfile(articleAndUser.user.id)" >
               <img :src="articleAndUser.user.avatar" alt="" />
               <span v-text="articleAndUser.user.nickname" style="color:black" ></span>发布
             </span>

               &nbsp;&nbsp;&nbsp;
             <!--时间-->

                   <span v-text="articleAndUser.time" style="font-weight: lighter;alpha(opacity=50);"></span>
                 &nbsp; &nbsp;
                 <span style="font-weight: lighter;alpha(opacity=50);" v-text="articleAndUser.user.myschool"></span>
                  &nbsp; &nbsp;
                <span style="font-weight: lighter;alpha(opacity=50);" v-text="articleAndUser.user.myprofessional"></span>
              &nbsp; &nbsp;
                <span style="font-weight: lighter;alpha(opacity=50);" v-text="articleAndUser.user.mygrade"></span>
            </span>
           </div>

           <div class="clearfix"></div>
          </h5>
          <!--滴滴与360都开源了各自的插件化框架，VirtualAPK与RePlugin,作为一个插件化方面的狂热研究者，在周末就迫不及待的下载了Virtualapk框架来进行研究，本篇博客带的……-->
         </div>
         <h3>

          <!--<span><img src="./img/widget-vip.png" class="vip" /></span>-->
         </h3>
         <a :href="articleAndUser.article.url" style="color: black">
          <p class="content" v-text="removeTAG(articleAndUser.article.content)"></p>
         </a>

        </li>
       <!--中间文章循环-->
       </ul>
       <!--循环-->
       <!--<ul id="loaded" class="headline"> -->
       <!--</ul> -->
      </div>



     </div>
     <!--文章展示部分-->



     <!--问答-->
     <div class="fl right"> 
      <div class="activity">

       <div class="acti">
        <img src="./img/widget-activity01.png" alt="活动一" />
       </div>
       <div class="acti">
        <img src="./img/widget-activity01.png" alt="活动一" />
       </div>

      </div> 
      <div class="block-btn"> 
       <p>今天，有什么知识要和大家分享么?</p>
       <a class="sui-btn btn-block btn-share" href="boke-submit.html" target="_blank">发布知识分享</a>
      </div> 

     </div> 
    </div>
    <!--中又部分-->
   </div>
   <!--包裹左中右-->

   <script type="text/javascript">
      var indexApp = new Vue({
          el:"#indexApp",
          data:{
             articleAndUserList:[],
             result:{},
             link:""

          },
          methods:{
              loadArticle:function () {
                  var url = school_user_server+"/article/findIndexArticle";
                  var _this = this;
                  //json请求用默认方式
                  axios.get(url).then(function (response) {
                      _this.result = response.data;
                      console.info(_this.result.message);
                      _this.articleAndUserList = _this.result.data;
                  }).catch(function (err) {
                      console.log("网络错误");
                  });
              },
              removeTAG:function (str) {  //移除HTML标签代码
                  str = str.replace(/<\/?[^>]*>/g,''); //去除HTML tag
                  str = str.replace(/[ | ]*\n/g,'\n'); //去除行尾空白
                  str = str.replace(/\n[\s| | ]*\r/g,'\n'); //去除多余空行
                  str=str.replace(/ /ig,'');//去掉
                  // 转意符换成普通字符
                  var arrEntities={'lt':'<','gt':'>','nbsp':' ','amp':'&','quot':'"'};
                  str=str.replace(/&(lt|gt|nbsp|amp|quot);/ig,function(all,t){return arrEntities[t];});
                  //将大于10的用...代替
                  if(str.length>80){
                      str=str.substring(0,80)+"...";
                  }
                  return str;
              },
              formatData(time){
                  return moment(time).format('YYYY-MM-DD');
              },
              hisfile:function (id) {
                  window.location.href="./person-hisfile.html?hisid="+id;
              }

          },
          created(){
              this.loadArticle();
          }
      });
   </script>
  </div>
 <!--包裹整个body-->

  <!--中间部分-->

  <!--将导航栏判断此页vue代码引进来-->
  <script type="text/javascript" src="./js/Nav_loginManager.js">

  </script>

  <!--尾部-->
  <div id="footer">

  </div>
 <script>
     $('#footer').load('footer.html');
 </script>
  <!--尾部-->
 </body>
</html>