<!DOCTYPE html>
<html lang="zh-CN">
 <head> 
  <meta charset="utf-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ --> 
  <meta name="description" content="" /> 
  <meta name="author" content="" /> 
  <link rel="icon" href="./img/asset-favicon.ico" /> 
  <title>校园社交-头条</title>
  <!-- 页面 css js --> 
  <!-- <script type="text/javascript" src="../../plugins/sui/sui.min.js"></script> --> 
  <!-- <script type="text/javascript" src="./sj-index.js"></script> --> 
  <link rel="stylesheet" type="text/css" href="./plugins/normalize-css/normalize.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/yui/cssgrids-min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/sui/sui.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/sui/sui-append.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/font-awesome/css/font-awesome.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/widget-base.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/widget-head-foot.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/page-headline-logined.css" />
  <script src="./js/jquery-3.4.1.js"></script>
  <script src="./js/vuejs-2.5.16.js"></script>
  <script src="./js/axios-0.18.0.js"></script>
  <script src="./js/schoolUrl.js"></script>

  <style>
   [v-cloak]{
    display: none;
   }
  </style>
 </head> 
 <body>
 <!--包裹整个body-->
  <div class="wrapper"> 
   <!--引用组件--> 
   <!--头部导航--> 
   <header id="index_header" v-cloak>
    <div class="sui-navbar" >
     <div class="navbar-inner"> 
      <!--<a href="index-logined.html" class="sui-brand">-->
         <a href="#" class="sui-brand">
          <!--<div >开心校园</div>-->
          <!--图标-->
          <!--./img/asset-favicon.ico
          ./img/asset-logo-black.png
          -->
          <img src="./img/asset-logo-black.png"  alt="社交" />
      </a>
      <ul class="sui-nav"> 
       <li class="active"><a href="./index.html">头条</a></li>
       <li><a href="./qa-logined.html">问答</a></li> 
       <li><a href="./activity-index.html">活动</a></li> 
       <li><a href="./makeFriends-index.html">交友</a></li> 
       <!--<li><a href="./spit-index.html">吐槽</a></li> -->
       <!--<li><a href="./recruit-index.html">招聘</a></li>-->
      </ul>
      <form class="sui-form -pull-right">
       <input type="text" placeholder="输入关键词..." />
       <span class="btn-search fa fa-search"></span>
       <!--搜索-->

       <!--这部分为用户管理部分 没有登录状况-->
       <div class="sui-nav pull-right info" v-show="show">
        <li><a href="tologin_register.html" target="_blank">注册</a></li>
        <li><a href="tologin_register.html" target="_blank" class="sui-btn btn-login">登录</a></li>
       </div>
       <!--这部分为用户管理部分 没有登录状况-->
       <!--这部分为用户管理部分 登录后状况-->
       <div class="sui-nav pull-right info" v-show="!show">
        <li><a href="./other-notice.html" target="_blank" class="notice">通知</a></li>
        <!--中间加号-->
        <li class="hover">
         <span class="fa fa-plus "></span>
         <ul class="hoverinfo">
          <li><i class="fa fa-share-alt" ></i> <a href="boke-submit.html">去分享</a></li>
          <li><i class="fa fa-question-circle" aria-hidden="true"></i> <a href="./qa-submit.html" target="_blank">提问题</a></li>
          <li><i class="fa fa-comments" aria-hidden="true"></i><a href="./spit-submit.html" target="_blank">去吐槽</a></li>
          <li><i class="fa fa-heartbeat" aria-hidden="true"></i> <a href="./makeFriends-submit.html" target="_blank">发约会</a></li>
         </ul> </li>
        <!--中间加号-->
        <li><a href="./person-myfile.html" target="_blank" class="homego"><img src="./img/widget-photo.png" alt="用户头像" /></a></li>
       </div>
      </form>
      <!--这部分为用户管理部分 登录后状况-->
     </div> 
    </div> 
   </header>
      <!--头部导航-->


      <!--左中右部分三列布局-->

   <div class="sj-content" id="indexApp">
    <div class="left-nav">
     <div class="float-nav" id="float-nav">
      <ul class="sui-nav nav-tabs nav-xlarge tab-navbar tab-vertical">
       <li class="active"><a>热门</a></li>
       <li><a href="#">牛人专区</a></li>
      </ul>
     </div>
    </div>
    <!--左侧部分-->
    <!--中右部分-->
    <div class="right-content" >
     <!--中间文章展示部分-->
     <div class="fl middle">
      <div class="carousel"> 
       <div id="myCarousel" data-ride="carousel" data-interval="4000" class="sui-carousel slide"> 
        <ol class="carousel-indicators"> 
         <li data-target="#myCarousel" data-slide-to="0" ></li>
         <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
         <li data-target="#myCarousel" data-slide-to="2"></li> 
        </ol> 
        <div class="carousel-inner">
         <!--中间大图循环-->
         <div class="item">
          <img src="./img/widget-banner01.png" /> 
         </div> 
         <div class="active item">
          <img src="./img/widget-banner02.png" /> 
         </div>
         <!--中间大图循环-->
        </div> 
       </div> 
      </div>



      <!---->
      <div class="data-list">
       <!--循环 id="articleForEachApp"-->
       <ul class="headline fixed" id="headline"   >
        <!--中间文章循环-->
        <!-- v-for="(ac,index) in articles"-->
        <li class="headline-item" v-for="articleAndUser in articleAndUserList">
         <div class="fl indexImg"> 
          <img src="" /> 
         </div> 
         <div class="words"> 
          <h3>
           <!--v-text="ac.title"-->
           <a href="boke-detail.html"  v-text="articleAndUser.article.title"></a>
           <span><img src="./img/widget-vip.png" class="vip" /></span></h3>
          <h5 class="author">
           <div class="fl">
            <span class="authorName"> <img src="./img/widget-photo.png" alt="" /><span v-text="articleAndUser.user.nickname"></span></span>
            <span v-text="articleAndUser.user.myprofessional"></span>
           </div>
           <div class="fr attention">
            <span class="attentionText">关注</span>
            <span class="beforeclose"> <i class="fa fa-times delete" aria-hidden="true"></i> <i class="nolike">不感兴趣</i> </span>
           </div>
           <div class="clearfix"></div>
          </h5>
         </div> <p class="content">滴滴与360都开源了各自的插件化框架，VirtualAPK与RePlugin,作为一个插件化方面的狂热研究者，在周末就迫不及待的下载了Virtualapk框架来进行研究，本篇博客带的……</p>
        </li>
       <!--中间文章循环-->
       </ul>
       <!--循环-->
       <!--<ul id="loaded" class="headline"> -->
       <!--</ul> -->
      </div>



     </div>
     <!--文章展示部分-->



     <!--问答-->
     <div class="fl right"> 
      <div class="activity">
       <!--活动循环-->
       <div class="acti">
        <img src="./img/widget-activity01.png" alt="活动一" />
       </div> 
       <!--活动循环-->
      </div> 
      <div class="block-btn"> 
       <p>今天，有什么好东西要和大家分享么?</p> 
       <a class="sui-btn btn-block btn-share" href="boke-submit.html" target="_blank">发布分享</a>
      </div> 
      <div class="question-list"> 
       <h3 class="title">热门回答</h3> 
       <div class="lists"> 
        <ul>
         <!--热门问答循环-->
         <li class="list-item"> <p class="list-title">关于系统问答你都应该都应该都应该注意些什么吗？</p> <p class="authorInfo"> <span class="authorName"><img src="./img/widget-photo.png" alt="" />玻璃筒</span> <span>6月22日 12:01</span> </p> </li> 
         <li class="list-item"> <p class="list-title">关于系统问答你都应该注意吗？</p> <p class="authorInfo"> <span class="authorName"><img src="./img/widget-photo.png" alt="" />玻璃筒</span> <span>6月22日 12:01</span> </p> </li>
         <!--热门问答循环-->
          </ul>
        <a class="sui-btn btn-block btn-bordered btn-more">查看更多</a> 
       </div> 
      </div>
      <!--问答-->
      <!--遇见她-->
      <div class="card-list"> 
       <div class="head"> 
        <h3 class="title">遇见TA</h3> 
       </div> 
       <div class="list"> 
        <ul> 
           <!--匹配度循环-->
         <li class="card-item"> 
          <div class="attention"> 
           <span>关注匹配度：<i class="degree">78%</i></span> 
           <span class="fr"><i class="fa fa-heart-o" aria-hidden="true"></i><i class="fa fa-times close" aria-hidden="true"></i></span> 
          </div> 
          <div class="img"> 
           <img src="./img/widget-t019e2d84e53580b099.png" alt="" /> 
          </div> 
          <div class="info"> 
           <div class="fl photo">
            <img src="./img/widget-photo.png" alt="" />
           </div> 
           <div class="fl intro"> 
            <p>【馨儿】发布了雕刻时光约会邀请</p> 
            <p class="name">玻璃通 <span class="date">6月22日 12:01</span></p> 
           </div> 
           <div class="clearfix"></div> 
          </div>
         </li>
         <!--匹配度循环-->
        </ul> 
        <a class="sui-btn btn-block btn-bordered btn-more">查看更多</a> 
       </div> 
      </div>
      <!--遇见她-->
      <!--活动日历-->
      <div class="activity-list"> 
       <h3 class="title">活动日历</h3> 
       <div class="list"> 
        <ul> 
        <!--活动循环-->
         <li class="list-item"> <p class="list-time"> 2017/06/30 北京</p> 
          <div class="list-content clearfix"> 
           <div class="fl img"> 
            <img src="./img/widget-simple.png" alt="" /> 
           </div> 
           <div> 
            <p>在线峰会 | 前端开发重难点技术剖析与创新实践</p> 
           </div> 
          </div>
         </li>
         <!--活动循环-->
        </ul> 
        <a class="sui-btn btn-block btn-bordered btn-more">查看更多</a> 
       </div> 
      </div>
      <!--活动日历-->
      <!--广告-->
      <div class="ad-carousel"> 
       <div class="carousel"> 
        <div id="myCarousel2" data-ride="carousel" data-interval="4000" class="sui-carousel slide">
         <!--广告循环-->
         <ol class="carousel-indicators"> 
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li> 
          <li data-target="#myCarousel" data-slide-to="1"></li>
         </ol> 
         <div class="carousel-inner"> 
          <div class="active item"> 
           <img src="./img/widget-ad01.png" /> 
          </div> 
          <div class="item"> 
           <img src="./img/widget-ad01.png" /> 
          </div>
         </div> 
         <span class="adname">广告</span> 
        </div>
        <!--广告循环-->
       </div> 
      </div>
      <!--广告-->
      <!-- <link rel="import" href="../../modules/ui-modules/footer/footer.html?__inline"> --> 
     </div> 
    </div>
    <!--中又部分-->
   </div>
   <!--包裹左中右-->

   <script type="text/javascript">
      var indexApp = new Vue({
          el:"#indexApp",
          data:{
             articleAndUserList:[],
             result:{}

          },
          methods:{
              loadArticle:function () {
                  var url = school_user_server+"/article/findIndexArticle";
                  var _this = this;
                  //json请求用默认方式
                  axios.get(url).then(function (response) {
                      _this.result = response.data;
                      console.info(_this.result.message);
                      _this.articleAndUserList = _this.result.data;

                  }).catch(function (err) {
                      console.log("网络错误");
                  });
              }
          },
          created(){
              this.loadArticle();
          }
      });
   </script>
  </div>
 <!--包裹整个body-->

  <!--中间部分-->

  <!--将导航栏判断此页vue代码引进来-->
  <script type="text/javascript" src="./js/Nav_loginManager.js">

  </script>

  <!--尾部-->
  <div id="footer">

  </div>
 <script>
     $('#footer').load('footer.html');
 </script>
  <!--尾部-->
 </body>
</html>