<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./img/asset-favicon.ico">
    <title>社交-发布约会</title>

    <!-- 页面 css js -->
    <!-- <script type="text/javascript" src="../../plugins/sui/sui.min.js"></script> -->

    <link rel="stylesheet" type="text/css" href="./plugins/normalize-css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="./plugins/yui/cssgrids-min.css" />
    <link rel="stylesheet" type="text/css" href="./plugins/sui/sui.min.css" />
    <link rel="stylesheet" type="text/css" href="./plugins/sui/sui-append.min.css" />
    <link rel="stylesheet" type="text/css" href="./plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/widget-base.css" />
    <link rel="stylesheet" type="text/css" href="./css/widget-head-foot.css" />
    <link rel="stylesheet" type="text/css" href="./css/page-sj-makeFriends-submit.css" />

    <script src="./js/jquery-3.4.1.js"></script>
    <script src="./js/vuejs-2.5.16.js"></script>
    <script src="./js/axios-0.18.0.js"></script>
    <script src="./js/schoolUrl.js"></script>

    <style>
        [v-cloak]{
            display: none;
        }
    </style>
</head>

<body>
    <!--引用组件-->
    <div class="wrapper">
            <!--头部导航-->
        <!--头部导航-->
        <header id="index_header" v-cloak>
            <div class="sui-navbar" >
                <div class="navbar-inner">
                    <!--<a href="index-logined.html" class="sui-brand">-->
                    <a href="#" class="sui-brand">
                        <!--<div >开心校园</div>-->
                        <!--图标-->
                        <!--./img/asset-favicon.ico
                        ./img/asset-logo-black.png
                        -->
                        <img src="./img/asset-logo-black.png"  alt="社交" />
                    </a>
                    <ul class="sui-nav">
                        <li ><a href="./index.html">首页</a></li>
                        <li><a href="./qa-logined.html">问答</a></li>
                        <li><a href="./activity-index.html">活动</a></li>
                        <li class="active"><a href="./makeFriends-index.html">交友</a></li>
                        <!--<li><a href="./spit-index.html">吐槽</a></li> -->
                        <!--<li><a href="./recruit-index.html">招聘</a></li>-->
                    </ul>
                    <form class="sui-form -pull-right">
                        <input type="text" placeholder="输入关键词..." />
                        <span class="btn-search fa fa-search"></span>
                        <!--搜索-->

                        <!--这部分为用户管理部分 没有登录状况-->
                        <div class="sui-nav pull-right info" v-show="show">
                            <li><a href="tologin_register.html" target="_blank">注册</a></li>
                            <li><a href="tologin_register.html" target="_blank" class="sui-btn btn-login">登录</a></li>
                        </div>
                        <!--这部分为用户管理部分 没有登录状况-->
                        <!--这部分为用户管理部分 登录后状况-->
                        <div class="sui-nav pull-right info" v-show="!show">
                            <li><a href="./other-notice.html" target="_blank" class="notice">通知</a></li>
                            <!--中间加号-->
                            <li class="hover">
                                <span class="fa fa-plus "></span>
                                <ul class="hoverinfo">
                                    <li><i class="fa fa-share-alt" ></i> <a href="boke-submit.html">去分享</a></li>
                                    <li><i class="fa fa-question-circle" aria-hidden="true"></i> <a href="./qa-submit.html" target="_blank">提问题</a></li>
                                    <li><i class="fa fa-comments" aria-hidden="true"></i><a href="./spit-submit.html" target="_blank">去吐槽</a></li>
                                    <li><i class="fa fa-heartbeat" aria-hidden="true"></i> <a href="./makeFriends-submit.html" target="_blank">发约会</a></li>
                                </ul> </li>
                            <!--中间加号-->
                            <li><a href="./person-myfile.html" target="_blank" class="homego"><img src="./img/widget-photo.png" alt="用户头像" /></a></li>
                        </div>
                    </form>
                    <!--这部分为用户管理部分 登录后状况-->
                </div>
            </div>
        </header>

        </div>
    <!--两列布局-->
    <div class="wrapper" id="submitmakefriendApp">
        <div class="release-date">
    <h3><span>发布约会</span></h3>
    <form class="sui-form form-horizontal">
        <div class="control-group">
            <label  class="control-label topic">主题：</label>
            <div class="controls">
                <ul>
                    <li @click="same('看电影')" class="active">
                        <div class="topic d1">
                            <span>看电影</span>
                        </div>
                    </li>
                    <li  @click="same('吃饭')" class="active">
                        <div class="topic d2">
                            <span>吃饭</span>
                        </div>
                    </li>
                    <li @click="same('K 歌')" class="active">
                        <div class="topic d3">
                            <span>K 歌</span>
                        </div>
                    </li >
                    <li @click="same('喝咖啡')" class="active">
                        <div class="topic d4">
                            <span>喝咖啡</span>
                        </div>
                    </li>
                    <li @click="same('运动')" class="active">
                        <div class="topic d5">
                            <span>运动</span>
                        </div>
                    </li>
                    <li @click="same('旅行')" class="active">
                        <div class="topic d6">
                            <span>旅行</span>
                        </div>
                    </li>
                    <li @click="same('逛街')" class="active">
                        <div class="topic d7">
                            <span>逛街</span>
                        </div>
                    </li>
                    <li @click="same('其他')" class="active">
                        <div class="topic d8">
                            <span>其他</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="btn-date">
                <span v-text="msg" style="color:red"></span>&nbsp;&nbsp;
                <button  class="sui-btn btn-info btn-release" @click.prevent="add()">发布约会</button>
        </div>
    </form>
</div>
<!-- <script>
    $(function() {
        $('.controls li').click (function() {
            $(this).addClass('active');
            $(this).siblings().removeClass('active');
        })
    })
</script> -->
    </div>
    <!--验证是否登录-->
    <script type="text/javascript" src="./js/loginFlag.js">

    </script>


    <script type="text/javascript">
        new Vue({
            el:"#submitmakefriendApp",
            data:{
               msg:"",
               Friendactivity:{},
                result:""
            },
            methods:{
                same:function (msg01) {
                   this.msg = msg01;
                    this.Friendactivity.activityname = this.msg;
                },
                add:function () {
                    if(this.msg==null||this.msg==""){
                        // this.result.message="邮箱不能为空";
                        alert("你还没有选择约会活动");
                    }else{

                        var token=window.localStorage.getItem("token_school");  //获取token
                        var url = school_user_server+"/friendactivity";

                        console.info("acName="+this.Friendactivity.activityname)
                        var _this = this;
                        //json请求用默认方式
                        axios.post(url,_this.Friendactivity,{
                            headers:{
                                //请求时添加token，验证是否登录
                                'Authorization':"Bearer "+token
                            }
                        }).then(function (response) {
                            _this.result = response.data;
                            alert("msg="+_this.result.message);
                            if(_this.result.code=="20000"){
                                window.location.href=user_web_url+"/makeFriends-index.html";
                            }

                        }).catch(function (err) {
                            alert("网络错误");
                        });
                    }
                }
            }

        });
    </script>

    <!--将导航栏判断此页vue代码引进来-->
    <script type="text/javascript" src="./js/Nav_loginManager.js">

    </script>

    <!--尾部-->
    <div id="footer">

    </div>
    <script>
        $('#footer').load('footer.html');
    </script>
    <!--尾部-->



<script>
// $(function(){
//   $(".hover").hover(function(){
//     $(".hoverinfo").stop().animate({
//        opacity: "show"
//     },"slow");
//     $(this).find(".fa-plus").css("color","#e64620");
//   },function(){
//     $(".hoverinfo").stop().animate({
//        opacity: "hide"
//     },"slow");
//     $(this).find(".fa-plus").css("color","#000");
//   })
// })
</script>
</body>