<!DOCTYPE html>
<html lang="zh-CN">
 <head> 
  <meta charset="utf-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ --> 
  <meta name="description" content="" /> 
  <meta name="author" content="" /> 
  <link rel="icon" href="./img/asset-favicon.ico" /> 
  <title>社交-他的信息</title>
  <!-- 页面 css js --> 
  <!-- <script type="text/javascript" src="../../plugins/sui/sui.min.js"></script> --> 
  <link rel="stylesheet" type="text/css" href="./plugins/normalize-css/normalize.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/yui/cssgrids-min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/sui/sui.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/sui/sui-append.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/font-awesome/css/font-awesome.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/widget-base.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/widget-head-foot.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/page-sj-person-myfile.css" />
  <!--引入-->
  <script src="./js/jquery-3.4.1.js"></script>
  <script src="./js/vuejs-2.5.16.js"></script>
  <script src="./js/axios-0.18.0.js"></script>
  <script src="./js/schoolUrl.js"></script>
  <style>
   /* 在引入的css文件中写入这个*/
   [v-cloak]{
    display: none;
   }

  </style>
 </head> 
 <body> 

  <!--第二段公共部分-->
  <div class="myhome-personinfo" style="background-color:#AEDD81" id="personBaseInfoApp" v-cloak>
   <div class="wrapper">
    <!--左侧编辑-->
    <div class="person-baseinfo"> 
     <!--头像信息--> 
     <div class="photo"> 
      <img :src="user.avatar" alt="" class="person"/>
      <!--<div><input type="file"> </div>-->
      <div class="share" style="text-align: center">
       <h2 v-text="user.nickname"></h2>
      </div>
     </div> 
     <!--文字信息--> 
     <div class="info"> 
      <h1><span class="allinfo"><a href="#" ><span v-text="user.nickname"></span>的基本介绍</a></span></h1>
      <ul class="fill">
       <li>
        <i  aria-hidden="true">QQ</i>
        <span class="edit-item"  v-text="user.myqq"></span>
       </li>

       <li>
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        <span class="edit-item"  v-text="user.myschool"></span>
        </li>
       <li>
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <span class="edit-item"  v-text="user.myprofessional"></span>

       </li>
       <li> <i class="fa fa-shopping-bag" aria-hidden="true"></i>
        <span class="edit-item"   v-text="user.mygrade"></span>
       </li>

      </ul> 
     </div> 
    </div>
    <!--左侧编辑-->
    <!--右侧编辑--> 
    <div class="edit-info"> 
     <h4>他的简介
      <span class="addedit" >
      <img  width="12" height="12" />
      </span>
     </h4>
     <div class="info-box">
      <div class="edit-intro"  v-text="user.personality">

      </div>

     </div>
    </div>
    <!--右侧编辑-->
    <div class="clearfix"></div> 
   </div>
  </div>
  <!--第二段公共部分 引入vue脚本代码-->
  <!--<script type="text/javascript" src="./js/person-myfile-must.js">-->
  <script type="text/javascript" >
      var personBaseInfoApp = new Vue({
          el:"#personBaseInfoApp",
          data:{
              user:{
                  myqq:"",
                  myschool:" ",
                  mygrade:"",
                  myprofessional:"",
                  personality:"",
                  avatar:""
              },
              result:{},

          },
          methods:{

              findUserById:function () {
                  var url = window.location.href ;
                  var cs = url.split('?')[1];    //获取?之后的参数字符串
                  var params = cs.split('=');
                  var value = params[1];  //文章id

                  var url = school_user_server+"/user/hisid/"+value;
                  var _this = this;

                  axios.get(url).then(function (response) {
                      _this.result = response.data;
                      _this.user = _this.result.data;
                      if (_this.user.myqq==null||_this.user.myqq==""){
                          _this.user.myqq=" 他还未填写qq";
                      }
                      if (_this.user.mygrade==null||_this.user.mygrade==""){
                          _this.user.mygrade=" 他还未填写年级";
                      }
                      if (_this.user.myschool==null||_this.user.myschool==""){
                          _this.user.myschool=" 他还未填写学校";
                      }
                      if (_this.user.myprofessional==null||_this.user.myprofessional==""){
                          _this.user.myprofessional=" 他还未填写学院";
                      }
                      if (_this.user.personality==null||_this.user.personality==""){
                          _this.user.personality=" 他还未填写个人简介";
                      }
                      if (_this.user.avatar==null||_this.user.avatar==""){
                          _this.user.avatar="./img/widget-myphoto.jpg";
                      }
                  }).catch(function (err) {
                      // console.log("网络错误");
                  });
              }
          },  //methods
          created(){
              this.findUserById();
          }

      });
  </script>


 </body>
</html>