<!DOCTYPE html>
<html lang="zh-CN">
 <head> 
  <meta charset="utf-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ --> 
  <meta name="description" content="" /> 
  <meta name="author" content="" /> 
  <link rel="icon" href="./img/asset-favicon.ico" /> 
  <title>社交-我的主页</title> 
  <!-- 页面 css js --> 
  <!-- <script type="text/javascript" src="../../plugins/sui/sui.min.js"></script> --> 
  <link rel="stylesheet" type="text/css" href="./plugins/normalize-css/normalize.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/yui/cssgrids-min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/sui/sui.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/sui/sui-append.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/font-awesome/css/font-awesome.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/widget-base.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/widget-head-foot.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/page-sj-person-account.css" />
  <!--引入-->
  <script src="./js/jquery-3.4.1.js"></script>
  <script src="./js/vuejs-2.5.16.js"></script>
  <script src="./js/axios-0.18.0.js"></script>
  <script src="./js/schoolUrl.js"></script>
  <style>
   /* 在引入的css文件中写入这个*/
   [v-cloak]{
    display: none;
   }
  </style>
 </head> 
 <body> 
  <div class="wrapper">
   <!--引用组件-->
   <!--头部导航-->
   <header id="index_header" v-cloak>
    <div class="sui-navbar" >
     <div class="navbar-inner">
      <!--<a href="index-logined.html" class="sui-brand">-->
      <a href="#" class="sui-brand">
       <img src="./img/asset-logo-black.png"  alt="社交" />
      </a>
      <ul class="sui-nav">
       <li class="active"><a href="./index.html">首页</a></li>
       <li><a href="./qa-logined.html">问答</a></li>
       <li><a href="./activity-index.html">活动</a></li>
       <li><a href="./makeFriends-index.html">交友</a></li>
       <!--<li><a href="./spit-index.html">吐槽</a></li>-->
       <!--<li><a href="./recruit-index.html">招聘</a></li>-->
      </ul>
      <form class="sui-form -pull-right">
       <input type="text" placeholder="输入关键词..." />
       <span class="btn-search fa fa-search"></span>
       <!--搜索-->

       <!--这部分为用户管理部分 没有登录状况-->
       <div class="sui-nav pull-right info" v-show="show">
        <li><a href="tologin_register.html" target="_blank">注册</a></li>
        <li><a href="tologin_register.html" target="_blank" class="sui-btn btn-login">登录</a></li>
       </div>
       <!--这部分为用户管理部分 没有登录状况-->
       <!--这部分为用户管理部分 登录后状况-->
       <div class="sui-nav pull-right info" v-show="!show">
        <li><a href="./other-notice.html" target="_blank" class="notice">通知</a></li>
        <!--中间加号-->
        <li class="hover">
         <span class="fa fa-plus "></span>
         <ul class="hoverinfo">
          <li><i class="fa fa-share-alt" ></i> <a href="boke-submit.html">去分享</a></li>
          <li><i class="fa fa-question-circle" aria-hidden="true"></i> <a href="./qa-submit.html" target="_blank">提问题</a></li>
          <li><i class="fa fa-comments" aria-hidden="true"></i><a href="./spit-submit.html" target="_blank">去吐槽</a></li>
          <li><i class="fa fa-heartbeat" aria-hidden="true"></i> <a href="./makeFriends-submit.html" target="_blank">发约会</a></li>
         </ul> </li>
        <!--中间加号-->
        <li><a href="./person-myfile.html" target="_blank" class="homego"><img src="./img/widget-photo.png" alt="用户头像" /></a></li>
       </div>
      </form>
      <!--这部分为用户管理部分 登录后状况-->
     </div>
    </div>
   </header>
   <!--头部导航-->
  </div>
  <!--第二段必须的个人信息公共部分-->
  <div id="myfileMust" >

  </div>
  <script>
      $('#myfileMust').load('person-myfile-must.html');
  </script>

  <!--第二段必须的个人信息公共部分-->
  <!--两列布局--> 
  <div class="wrapper  myhome"> 
   <div class="left-list"> 
    <div class="myhome-list"> 
     <ul class="home-list">
      <li><a href="./person-myfriendactivity.html">我的交友活动</a></li>
      <li><a href="./person-myquestion.html">我的提问</a></li>
      <li><a href="./person-myshare.html">我的文章</a></li>
     </ul> 
     <ul class="home-list bottom">
      <li><a href="./fav-article.html">收藏的文章</a></li>
      <li><a href="./fav-question.html">收藏的问答</a></li>
      <li><a href="./person-myfocus.html">我的关注</a></li>
      <li  class="active"><a href="person-myfile.html">个人信息</a></li>
     </ul> 
    </div> 
   </div> 
   <div class="right-content"> 
    <div class="home-content"> 
    
     <div class="activities account-type" id="personFileAll">
      <h4 class="tit"><span>个人信息</span></h4>
        <div class="account-main">
   
	      <div class="account-person"> 
	       <h3>个人信息</h3>
	       <ul class="account-info"> 
	        <li> <span class="gray index">名字</span> <span class="info"><span v-text="user.nickname"></span></span>
	         </li>
	        <li> <span class="gray index">Email </span> <span class="info"><span v-text="user.mobile"></span></span>
	          </li>
	        <!--<li> <span class="gray index">手机号码 </span> <span class="info">136****9875</span> -->
	        <!--</li>-->
	        <li> <span class="gray index">密码 </span> <span class="info"><a href="./tologin_register.html">点击修改密码</a></span>
	          </li>
	       </ul> 
	      </div> 

	     </div>
     
     </div> 
    </div> 
   </div> 
   <div class="clearfix"></div> 
  </div>

  <script type="text/javascript">
      var personFileAll = new Vue({
          el:"#personFileAll",
          data:{
              user:{
              }
          },
          methods:{
              findUserById:function () {
                  var url = school_user_server+"/user/findById";
                  var _this = this;
                  var token=window.localStorage.getItem("token_school");  //获取token
                  axios.get(url,{
                      headers:{
                          //请求时添加token，验证是否登录
                          'Authorization':"Bearer "+token
                      }
                  }).then(function (response) {
                      _this.result = response.data;
                      _this.user = _this.result.data;

                  }).catch(function (err) {
                      // console.log("网络错误");
                  });
              }
          },  //methods
          created(){
              this.findUserById();
          }

      });
  </script>
  <!--判断是否登录代码判断登录通用代码，没登录会跳到登录页-->
  <script type="text/javascript" src="./js/loginFlag.js" >
  </script>
  <!--判断是否登录代码-->

  <!--将导航栏判断登录vue代码引进来-->
  <script type="text/javascript" src="./js/Nav_loginManager.js">

  </script>

  <!--尾部-->
  <div id="footer">
  </div>
  <script>
      $('#footer').load('footer.html');
  </script>
  <!--尾部-->
  <script>
</script> 
 </body>
</html>