<!DOCTYPE html>
<html lang="zh-CN">
 <head> 
  <meta charset="utf-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ --> 
  <meta name="description" content="" /> 
  <meta name="author" content="" /> 
  <link rel="icon" href="./img/asset-favicon.ico" /> 
  <title>社交-我的档案</title> 
  <!-- 页面 css js --> 
  <!-- <script type="text/javascript" src="../../plugins/sui/sui.min.js"></script> --> 
  <link rel="stylesheet" type="text/css" href="./plugins/normalize-css/normalize.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/yui/cssgrids-min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/sui/sui.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/sui/sui-append.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/font-awesome/css/font-awesome.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/widget-base.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/widget-head-foot.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/page-sj-person-myfile.css" />
  <!--引入-->
  <script src="./js/jquery-3.4.1.js"></script>
  <script src="./js/vuejs-2.5.16.js"></script>
  <script src="./js/axios-0.18.0.js"></script>
  <script src="./js/schoolUrl.js"></script>
  <style>
   /* 在引入的css文件中写入这个*/
   [v-cloak]{
    display: none;
   }


  </style>
 </head> 
 <body> 

  <!--第二段公共部分-->
  <div class="myhome-personinfo" style="background-color:#AEDD81" id="personBaseInfoApp" v-cloak>
   <div class="wrapper">
    <!--左侧编辑-->
    <div class="person-baseinfo"> 
     <!--头像信息--> 
     <div class="photo"> 
      <img :src="user.avatar" alt="" class="person" @click="updateImage()"/>
      <!--<div><input type="file"> </div>-->
      <div class="share" style="text-align: center">
       <h2 v-text="user.nickname"></h2>
      </div>
     </div> 
     <!--文字信息--> 
     <div class="info"> 
      <h1><span class="allinfo"><a href="#" >单击下面标签,修改信息</a></span></h1>
      <ul class="fill">
       <li>
        <i  aria-hidden="true">QQ</i>
        <span class="edit-item" v-show="qqFlag" @click="qqFlagChange()" v-text="user.myqq"></span>
        <form class="form-inline" style="display: inline-block" v-show="!qqFlag">
         <input type="text" v-model="user.myqq" placeholder="qq" />
         <button class="sui-btn btn-danger save-btn" @click.prevent="qqUpdate()">保存</button>
         <button class="sui-btn btn-danger save-btn" @click.prevent="qqFlagChange2()">取消</button>
        </form>
       </li>

       <li>
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        <span class="edit-item" v-show="schoolFlag" @click="schoolFlagChange()" v-text="user.myschool"></span>
        <form class="form-inline" style="display: inline-block" v-show="!schoolFlag">
         <!--<input type="text" placeholder="学校名称" v-model="user.myschool"/>-->
         <select v-model="user.myschool">
          <option value ="天津城建大学" >天津城建大学</option>
          <option value ="天津农学院" >天津农学院</option>
          <option value ="南开大学" >南开大学</option>
         </select>
         <button class="sui-btn btn-danger save-btn"  @click.prevent="schoolUpdate()">保存</button>
         <button class="sui-btn btn-danger save-btn" @click.prevent="schoolFlagChange2()">取消</button>
        </form> </li>
       <li>
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <span class="edit-item" v-show="professionalFlag" @click="professionalFlagChange()" v-text="user.myprofessional"></span>
        <form class="form-inline" style="display: inline-block" v-show="!professionalFlag">
          <!--<input type="text" placeholder="所在学院" v-model="user.myprofessional"/>-->
         <select v-model="user.myprofessional">
           <option value ="计算机学院" >计算机学院</option>
           <option value ="会计学院" >会计学院</option>
           <option value ="金融学院" >金融学院</option>
         </select>
          <button class="sui-btn btn-danger save-btn"  @click.prevent="professionalUpdate()">保存</button>
          <button class="sui-btn btn-danger save-btn" @click.prevent="professionalFlagChange2()">取消</button>
        </form>
       </li>
       <li> <i class="fa fa-shopping-bag" aria-hidden="true"></i>
        <span class="edit-item" v-show="gradeFlag" @click="gradeFlagChange()" v-text="user.mygrade"></span>
        <form class="form-inline" style="display: inline-block" v-show="!gradeFlag">
         <!--<input type="text" placeholder="所在年级" v-model="user.mygrade"/>-->
         <select v-model="user.mygrade">
          <option value ="大一" >大一</option>
          <option value ="大二" >大二</option>
          <option value ="大三" >大三</option>
          <option value ="大四" >大四</option>
          <option value ="大五" >大五</option>
          <option value ="还未入学" >还未入学</option>
          <option value ="研究生" >研究生</option>
         </select>
         <button class="sui-btn btn-danger save-btn"  @click.prevent="gradeUpdate()">保存</button>
         <button class="sui-btn btn-danger save-btn" @click.prevent="gradeFlagChange2()">取消</button>
        </form>
        &nbsp; &nbsp;
        <!--修改头像-->
        <form class="form-inline" style="display: inline-block"  v-show="!imageFlag">
         <!--<input type="file" style="display: none">-->
          <input type="file" id="saveImage" accept="image/png,image/gif,image/jpeg" >
         <button class="sui-btn btn-danger save-btn" @click.prevent="saveImg()">保存</button>
        </form>
       </li>

      </ul> 
     </div> 
    </div>
    <!--左侧编辑-->
    <!--右侧编辑--> 
    <div class="edit-info"> 
     <h4>个人简介<span class="addedit" @click="personalityFlagChange()">
      <img src="./img/widget-edit.png" width="12" height="12" />编辑</span></h4>
     <div class="info-box">
      <div class="edit-intro" v-show="personalityFlag" v-text="user.personality">

      </div>
      <div class="edit-intro" v-show="!personalityFlag">

        <textarea  v-model="user.personality" style="width: 100%;height: 80px; margin: 0px auto" >
        </textarea>

       <br/><br/>
       <button class="sui-btn btn-danger save-btn"  @click.prevent="updatePersonality()">保存</button>
       <button class="sui-btn btn-danger save-btn" @click.prevent="personalityFlagChange2()">取消</button>
      </div>
     </div>
    </div>
    <!--右侧编辑-->
    <div class="clearfix"></div> 
   </div>
  </div>
  <!--第二段公共部分 引入vue脚本代码-->
  <!--<script type="text/javascript" src="./js/person-myfile-must.js">-->
  <script type="text/javascript" >
      var personBaseInfoApp = new Vue({
          el:"#personBaseInfoApp",
          data:{
              qqFlag:true,  //用于判断qq是文本显示还是输入框显示
              schoolFlag:true,// 用于判断school是文本显示还是输入框显示
              professionalFlag:true,// 用于判断学院是文本显示还是输入框显示
              gradeFlag:true, //用于判断年级是文本显示还是输入框显示
              personalityFlag:true,  //简介
              imageFlag:true,  //是否显示修改头像框  true表示不显示
              user:{
                  myqq:"",
                  myschool:" ",
                  mygrade:"",
                  myprofessional:"",
                  personality:"",
                  avatar:""
              },
              user2:{  //用于中间值存储
                  myqq:" 填写个人qq(必填)",
                  myschool:" 填写所在学校(必填)",
                  mygrade:" 填写所在年级(必填)",
                  myprofessional:" 填写所在学院(必填)",
                  personality:"暂时没有个人简介"
              },
              user3:{  //用于选择项赋值
                  // myqq:" 填写个人qq(必填)",
                  myschool:"天津城建大学",
                  mygrade:"大一",  //年级
                  myprofessional:"计算机学院"  //学院
              },
              result:{},

          },
          methods:{
              qqFlagChange:function () { //qq取反  这里是双击修改时用
                  this.user2.myqq=this.user.myqq;
                  this.qqFlag=!this.qqFlag;
              },
              schoolFlagChange:function () { //学校取反
                  this.user2.myschool=this.user.myschool;
                  this.schoolFlag  = !this.schoolFlag;
              },
              professionalFlagChange:function () {  //专业取反
                  this.user2.myprofessional = this.user.myprofessional;
                  this.professionalFlag = !this.professionalFlag;
              },
              gradeFlagChange:function () { // 年级取反
                  this.user2.mygrade = this.user.mygrade;
                  this.gradeFlag = !this.gradeFlag;
              },
              personalityFlagChange:function () { // 简介取反
                  this.user2.personality = this.user.personality;
                  this.personalityFlag = !this.personalityFlag;
              },
              qqFlagChange2:function () { //qq取反  底下是取消时用
                  this.user.myqq= this.user2.myqq;
                  this.qqFlag=!this.qqFlag;
              },
              schoolFlagChange2:function () { //学校取反
                  this.user.myschool=  this.user2.myschool;
                  this.schoolFlag  = !this.schoolFlag;
              },
              professionalFlagChange2:function () {  //专业取反
                  this.user.myprofessional = this.user2.myprofessional ;
                  this.professionalFlag = !this.professionalFlag;
              },
              gradeFlagChange2:function () { // 年级取反
                  this.user.mygrade = this.user2.mygrade ;
                  this.gradeFlag = !this.gradeFlag;
              },
              personalityFlagChange2:function () { // 取消
                  this.user.personality = this.user2.personality ;
                  this.personalityFlag = !this.personalityFlag;
              },
              qqUpdate:function () { //qq修改
                  var reg = /^[1-9][0-9]{4,9}$/gim;
                  if (!reg.test(this.user.myqq)) {
                      alert("请输入正确的qq号")
                  }else{
                      var url = school_user_server+"/user/qq";
                      var _this = this;
                      var token=window.localStorage.getItem("token_school");  //获取token
                      axios.put(url, _this.user,{
                          headers:{
                              //请求时添加token，验证是否登录
                              'Authorization':"Bearer "+token
                          }
                      }).then(function (response) {

                          _this.qqFlag=!_this.qqFlag;
                          _this.result = response.data;
                          _this.user.myqq = _this.result.data.myqq;

                      }).catch(function (err) {
                          // console.log("网络错误");
                      });
                  }
              },
              schoolUpdate:function () {  //school 修改
                  if(this.user.myschool==" 填写所在学校(必填)"){
                      this.user.myschool=this.user3.myschool;
                  }
                  var url = school_user_server+"/user/school";
                  var _this = this;
                  var token=window.localStorage.getItem("token_school");  //获取token
                  axios.put(url, _this.user,{
                      headers:{
                          //请求时添加token，验证是否登录
                          'Authorization':"Bearer "+token
                      }
                  }).then(function (response) {

                      _this.schoolFlag  = !_this.schoolFlag;
                      _this.result = response.data;
                      _this.user.myschool = _this.result.data.myschool;

                  }).catch(function (err) {
                      // console.log("网络错误");
                  });
              },
              professionalUpdate:function () {   //学院修改
                  if(this.user.myschool==" 填写所在学院(必填)"){
                      this.user.myprofessional = this.user3.myprofessional;
                  }

                  var url = school_user_server+"/user/professional";
                  var _this = this;
                  var token=window.localStorage.getItem("token_school");  //获取token
                  axios.put(url, _this.user,{
                      headers:{
                          //请求时添加token，验证是否登录
                          'Authorization':"Bearer "+token
                      }
                  }).then(function (response) {

                      _this.professionalFlag = !_this.professionalFlag;
                      _this.result = response.data;
                      _this.user.myprofessional = _this.result.data.myprofessional;

                  }).catch(function (err) {
                      // console.log("网络错误");
                  });
              },
              gradeUpdate:function () { //年级修改
                  if(this.user.myschool==" 填写所在年级(必填)"){
                      this.user.mygrade = this.user3.mygrade;
                  }

                  var url = school_user_server+"/user/grade";
                  var _this = this;
                  var token=window.localStorage.getItem("token_school");  //获取token
                  axios.put(url, _this.user,{
                      headers:{
                          //请求时添加token，验证是否登录
                          'Authorization':"Bearer "+token
                      }
                  }).then(function (response) {

                      _this.gradeFlag = !_this.gradeFlag;
                      _this.result = response.data;
                      _this.user.mygrade = _this.result.data.mygrade;

                  }).catch(function (err) {
                      // console.log("网络错误");
                  });
              },
              findUserById:function () {
                  var url = school_user_server+"/user/findById";
                  var _this = this;
                  var token=window.localStorage.getItem("token_school");  //获取token
                  axios.get(url,{
                      headers:{
                          //请求时添加token，验证是否登录
                          'Authorization':"Bearer "+token
                      }
                  }).then(function (response) {
                      _this.result = response.data;
                      _this.user = _this.result.data;
                      if (_this.user.myqq==null||_this.user.myqq==""){
                          _this.user.myqq=" 填写个人qq(必填)";
                      }
                      if (_this.user.mygrade==null||_this.user.mygrade==""){
                          _this.user.mygrade=" 填写所在年级(必填)";
                      }
                      if (_this.user.myschool==null||_this.user.myschool==""){
                          _this.user.myschool=" 填写所在学校(必填)";
                      }
                      if (_this.user.myprofessional==null||_this.user.myprofessional==""){
                          _this.user.myprofessional=" 填写所在学院(必填)";
                      }
                      if (_this.user.personality==null||_this.user.personality==""){
                          _this.user.personality=" 暂时没有个人简介";
                      }
                      if (_this.user.avatar==null||_this.user.avatar==""){
                          _this.user.avatar="./img/widget-myphoto.jpg";
                      }
                  }).catch(function (err) {
                      // console.log("网络错误");
                  });
              },
              updatePersonality:function () {  //修改个人简介
                  // this.user.personality = this.user3.personality;
                  var url = school_user_server+"/user/personality";
                  var _this = this;
                  var token=window.localStorage.getItem("token_school");  //获取token
                  if ( this.user.personality==null|| this.user.personality=="") {
                      this.user.personality= this.user2.personality;
                  }else{
                      axios.put(url, _this.user,{
                          headers:{
                              //请求时添加token，验证是否登录
                              'Authorization':"Bearer "+token
                          }
                      }).then(function (response) {

                          _this.personalityFlag = !_this.personalityFlag;
                          _this.result = response.data;
                          _this.user.personality = _this.result.data.personality;

                      }).catch(function (err) {
                          // console.log("网络错误");
                      });
                  }
              },
              updateImage:function () { //修改个人头像,用于将修改框显示出来
                  this.imageFlag = false;
              },
              saveImg:function () {  //将头像保存到数据库
                  var x = document.getElementById('saveImage').files[0];
                  console.log(x);
                  var params = new FormData() ; //创建一个form对象,必须是form对象否则后端接受不到数据
                  params.append('uploadFile',x,x.name);  //append 向form表单添加数据

                  var url = school_user_server+"/user/avatar"; //修改头像路径
                  var token=window.localStorage.getItem("token_school");  //获取token
                  var _this = this;
                  axios.post(url,params,{
                      //form-data形式提交
                      headers:{
                          'Content-Type':'multipart/form-data',
                          'Authorization':"Bearer "+token
                      }
                  }).then(function (response) {

                      _this.result = response.data;
                      if (_this.result.code=="20000") {
                          _this.imageFlag = true;
                          console.info("修改头像执行了");
                          _this.findUserById();
                      }

                  }).catch(function (err) {
                      // console.log("网络错误");
                  });

              }

          },  //methods
          created(){
              this.findUserById();
          }

      });
  </script>


 </body>
</html>