<!DOCTYPE html>
<html lang="zh-CN">
 <head> 
  <meta charset="utf-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ --> 
  <meta name="description" content="" /> 
  <meta name="author" content="" /> 
  <link rel="icon" href="./img/asset-favicon.ico" /> 
  <title>社交-他的知识分享</title>
  <!-- 页面 css js --> 
  <!-- <script type="text/javascript" src="../../plugins/sui/sui.min.js"></script> --> 
  <link rel="stylesheet" type="text/css" href="./plugins/normalize-css/normalize.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/yui/cssgrids-min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/sui/sui.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/sui/sui-append.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/font-awesome/css/font-awesome.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/widget-base.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/widget-head-foot.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/page-sj-person-myquestion.css" />

  <!--引入-->
  <script src="./js/jquery-3.4.1.js"></script>
  <script src="./js/vuejs-2.5.16.js"></script>
  <script src="./js/axios-0.18.0.js"></script>
  <script src="./js/schoolUrl.js"></script>
  <style>
   /* 在引入的css文件中写入这个*/
   [v-cloak]{
    display: none;
   }
  </style>
 </head> 
 <body> 
  <div class="wrapper">
   <!--引用组件-->
   <!--头部导航-->
   <header id="index_header" v-cloak>
    <div class="sui-navbar" >
     <div class="navbar-inner">
      <!--<a href="index-logined.html" class="sui-brand">-->
      <a href="#" class="sui-brand">
       <!--<div >开心校园</div>-->
       <!--图标-->
       <!--./img/asset-favicon.ico
       ./img/asset-logo-black.png
       -->
       <img src="./img/asset-logo-black.png"  alt="社交" />
      </a>
      <ul class="sui-nav">
       <li class="active"><a href="./index.html">首页</a></li>
       <li><a href="./qa-logined.html">问答</a></li>
       <li><a href="./activity-index.html">活动</a></li>
       <li><a href="./makeFriends-index.html">交友</a></li>
       <!--<li><a href="./spit-index.html">吐槽</a></li> -->
       <!--<li><a href="./recruit-index.html">招聘</a></li>-->
      </ul>
      <form class="sui-form -pull-right">
       <!--<input type="text" placeholder="输入关键词..." />-->
       <!--<span class="btn-search fa fa-search"></span>-->
       <!--搜索-->

       <!--这部分为用户管理部分 没有登录状况-->
       <div class="sui-nav pull-right info" v-show="show">
        <li><a href="tologin_register.html" >注册</a></li>
        <li><a href="tologin_register.html"  class="sui-btn btn-login">登录</a></li>
       </div>
       <!--这部分为用户管理部分 没有登录状况-->
       <!--这部分为用户管理部分 登录后状况-->
       <div class="sui-nav pull-right info" v-show="!show">
        <li><a href="#"  class="notice" style="color: red" @click.prevent="loginOut()">退出</a></li>
        <!--中间加号-->
        <!--<li class="hover">-->
        <!--<span class="fa fa-plus "></span>-->
        <!--<ul class="hoverinfo">-->
        <!--<li><i class="fa fa-share-alt" ></i> <a href="boke-submit.html">去分享</a></li>-->
        <!--<li><i class="fa fa-question-circle" aria-hidden="true"></i> <a href="./qa-submit.html" target="_blank">提问题</a></li>-->
        <!--<li><i class="fa fa-comments" aria-hidden="true"></i><a href="./spit-submit.html" target="_blank">去吐槽</a></li>-->
        <!--<li><i class="fa fa-heartbeat" aria-hidden="true"></i> <a href="./makeFriends-submit.html" target="_blank">发约会</a></li>-->
        <!--</ul> </li>-->
        <!--中间加号-->
        <li><a href="./person-myfile.html"  class="homego"><img src="./img/widget-photo.png" alt="用户头像" /></a></li>
       </div>
      </form>
      <!--这部分为用户管理部分 登录后状况-->
     </div>
    </div>
   </header>
   <!--头部导航-->
  </div>

  <!--第二段必须的个人信息公共部分-->
  <div id="hisfileMust" >

  </div>
  <script>
      $('#hisfileMust').load('person-hisfile-must.html');
  </script>
  <!--两列布局--> 
  <div class="wrapper  myhome" id="myarticle">
   <div class="left-list">
    <div class="myhome-list">
     <ul class="home-list">
      <li  ><a :href="hisfriendactivityurl">他的的交友活动</a></li>
      <li ><a :href="hisproblemurl">他的提问</a></li>
      <li class="active"><a :href="hisarticle">他的文章</a></li>
     </ul>
    </div>
   </div>
   <div class="right-content" >
    <div class="questions">
     <h4><span>他的知识分享</span></h4>
     <ul class="question-list">
      <li v-for="article in articles">
       <span class="title">
        <a :href="article.url" v-text="article.title" style="color: #5d9c0a;font-size: large"></a>
        &nbsp; &nbsp; &nbsp;
        <span  v-text="article.time"></span>
       </span>

       <span class="clearfix"></span>
      </li>
     </ul>
    </div> 
   </div> 
   <div class="clearfix"></div> 
  </div>

  <script type="text/javascript">
      new Vue({
          el:"#myarticle",
          data:{
              articles:[],
              result:{},
              hisfriendactivityurl:"",
              hisproblemurl:"",
              hisarticle:""
          },
          methods:{
              findarticleById:function () {
                  var url = window.location.href ;
                  var cs = url.split('?')[1];    //获取?之后的参数字符串
                  var params = cs.split('=');
                  var value = params[1];  //文章id
                  var url = school_user_server+"/article/hisid/"+value;
                  var _this = this;
                  this.hisfriendactivityurl="./person-hisfile.html?hisid="+value;
                  this.hisproblemurl = "./person-hisquestion.html?hisid="+value;
                  this.hisarticle="./person-hisshare.html?hisid="+value;

                  axios.get(url).then(function (response) {
                      _this.result = response.data;
                      _this.articles = _this.result.data;
                  }).catch(function (err) {
                      // console.log("网络错误");
                  });
              }
          },  //methods
          created(){
              this.findarticleById();
          }
      });
  </script>
  <!--判断是否登录代码判断登录通用代码，没登录会跳到登录页-->
  <script type="text/javascript" src="./js/loginFlag.js" >
  </script>
  <!--判断是否登录代码-->

  <!--将导航栏判断登录vue代码引进来-->
  <script type="text/javascript" src="./js/Nav_loginManager.js">

  </script>

  <!--尾部-->
  <div id="footer">
  </div>
  <script>
      $('#footer').load('footer.html');
  </script>
  <!--尾部-->
 </body>
</html>