<!DOCTYPE html>
<html lang="zh-CN">
 <head> 
  <meta charset="utf-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ --> 
  <meta name="description" content="" /> 
  <meta name="author" content="" /> 
  <link rel="icon" href="./img/asset-favicon.ico" /> 
  <title>社交-我的档案</title> 
  <!-- 页面 css js --> 
  <!-- <script type="text/javascript" src="../../plugins/sui/sui.min.js"></script> --> 
  <link rel="stylesheet" type="text/css" href="./plugins/normalize-css/normalize.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/yui/cssgrids-min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/sui/sui.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/sui/sui-append.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/font-awesome/css/font-awesome.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/widget-base.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/widget-head-foot.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/page-sj-person-myfile.css" />
  <!--引入-->
  <script src="./js/jquery-3.4.1.js"></script>
  <script src="./js/vuejs-2.5.16.js"></script>
  <script src="./js/axios-0.18.0.js"></script>
  <script src="./js/schoolUrl.js"></script>
  <style>
   /* 在引入的css文件中写入这个*/
   [v-cloak]{
    display: none;
   }
  </style>
 </head> 
 <body> 
  <div class="wrapper"> 
   <!--引用组件-->
   <!--头部导航-->
   <header id="index_header" v-cloak>
    <div class="sui-navbar" >
     <div class="navbar-inner">
      <!--<a href="index-logined.html" class="sui-brand">-->
      <a href="#" class="sui-brand">
       <img src="./img/asset-logo-black.png"  alt="社交" />
      </a>
      <ul class="sui-nav">
       <li class="active"><a href="./index.html">头条</a></li>
       <li><a href="./qa-logined.html">问答</a></li>
       <li><a href="./activity-index.html">活动</a></li>
       <li><a href="./makeFriends-index.html">交友</a></li>
       <li><a href="./spit-index.html">吐槽</a></li>
       <li><a href="./recruit-index.html">招聘</a></li>
      </ul>
      <form class="sui-form -pull-right">
       <input type="text" placeholder="输入关键词..." />
       <span class="btn-search fa fa-search"></span>
       <!--搜索-->

       <!--这部分为用户管理部分 没有登录状况-->
       <div class="sui-nav pull-right info" v-show="show">
        <li><a href="tologin_register.html" target="_blank">注册</a></li>
        <li><a href="tologin_register.html" target="_blank" class="sui-btn btn-login">登录</a></li>
       </div>
       <!--这部分为用户管理部分 没有登录状况-->
       <!--这部分为用户管理部分 登录后状况-->
       <div class="sui-nav pull-right info" v-show="!show">
        <li><a href="./other-notice.html" target="_blank" class="notice">通知</a></li>
        <!--中间加号-->
        <li class="hover">
         <span class="fa fa-plus "></span>
         <ul class="hoverinfo">
          <li><i class="fa fa-share-alt" ></i> <a href="boke-submit.html">去分享</a></li>
          <li><i class="fa fa-question-circle" aria-hidden="true"></i> <a href="./qa-submit.html" target="_blank">提问题</a></li>
          <li><i class="fa fa-comments" aria-hidden="true"></i><a href="./spit-submit.html" target="_blank">去吐槽</a></li>
          <li><i class="fa fa-heartbeat" aria-hidden="true"></i> <a href="./makeFriends-submit.html" target="_blank">发约会</a></li>
         </ul> </li>
        <!--中间加号-->
        <li><a href="./person-myfile.html" target="_blank" class="homego"><img src="./img/widget-photo.png" alt="用户头像" /></a></li>
       </div>
      </form>
      <!--这部分为用户管理部分 登录后状况-->
     </div>
    </div>
   </header>
   <!--头部导航-->

<!--下面是正文部分-->
   </div>
   <!--第二段必须的个人信息公共部分-->
   <div id="myfileMust">

   </div>
   <script>
       $('#myfileMust').load('person-myfile-must.html');
   </script>

   <!--第二段必须的个人信息公共部分-->


  <!--两列布局--> 
  <div class="wrapper  myhome"> 
   <div class="sui-layout layout3"> 
    <div class="sidebar"> 
     <div class="myhome-list"> 
      <ul class="home-list"> 
       <li class="active"><a href="./person-homepage.html">我的主页</a></li> 
       <li><a href="./person-myanswer.html">我的回答</a></li> 
       <li><a href="./person-myquestion.html">我的提问</a></li> 
       <li><a href="./person-myshare.html">我的分享</a></li> 
      </ul> 
      <ul class="home-list bottom"> 
       <li><a href="./person-dynamic.html">个人动态</a></li> 
       <li><a href="./person-myfocus.html">我的关注</a></li> 
       <li><a href="./person-mycollect.html">我的收藏</a></li> 
       <li><a href="./person-myreaded.html">浏览记录</a></li> 
       <li><a href="./person-account.html">账户设置</a></li> 
      </ul> 
     </div> 
      <script>
          $(function(){
              $(".home-list li").click(function(){
                  $(this).addClass("active");
                  $(this).siblings().removeClass("active");
              })
          })
   </script>
    </div> 
    <div class="content" id="personFileAll" v-cloak>

     <div class="file-edit"> 
      <div class="info">

       <h3 class="tit"><span>账号信息</span></h3>
       <!-- 个人信息 --> 
       <div class="sui-row-fluid person canadd"> 
        <div class="span4 item"> 
         <h3 class="name">账号头像</h3>
         <img src="./img/widget-o-photo.png" alt="" /> 
        </div> 
        <div class="span4 item"> 
         <h3 class="name"><span style="color: red">*</span>用户名</h3>
         <p v-text="user.nickname" v-show="updateFlag"></p>
         <p v-show="!updateFlag"><input type="text" v-model="user.nickname" ></p>
         <h3 class="name">出生日期</h3> 
         <p v-text="user.birthday" v-show="updateFlag"></p>
         <p v-show="!updateFlag"><input type="date" v-model="user.birthday" ></p>
         <h3 class="name"><span style="color: red">*</span>电子邮箱<span style="color: red">(禁止修改)</span></h3>

        </div> 
        <div class="span3 item">
         <h3 class="name">性别</h3>
         <p v-text="user.sex" v-show="updateFlag"></p>
         <p v-show="!updateFlag"><input type="text" v-model="user.sex" ></p>
         <p v-show="!updateFlag"><input type="text" v-model="user.mygrade" ></p>
         <h3 class="name">兴趣</h3>
         <p v-text="user.interest" v-show="updateFlag"></p>
         <p v-show="!updateFlag"><input type="text" v-model="user.interest" ></p>
         <p v-text="user.mobile"></p>
         <h3 class="name">现居城市</h3>
         <p v-text="user.nowcity" v-show="updateFlag"></p>
         <p v-show="!updateFlag"><input type="text" v-model="user.nowcity" ></p>


        </div> 
        <div class="span1 edit"> 
         <span class="gray" @click="toUpdateMyself()" v-show="updateFlag">
          <i class="fa fa-pencil" aria-hidden="true"  >
          </i>编辑
         </span>

         <span class="gray" v-show="!updateFlag" @click="updateMyself()">
           <i class="fa fa-pencil" aria-hidden="true" >
           </i>保存
         </span>
        </div>


        </div>
      </div>

     </div>
    </div> 

   </div>

  </div>

  <script type="text/javascript">
    var personFileAll = new Vue({
        el:"#personFileAll",
        data:{
            user:{
                myqq:"",
                myschool:" ",
                mygrade:"",
                myprofessional:"",
                personality:""
            },
            updateFlag:true  //判断是显示还是修改
        },
        methods:{
            findUserById:function () {
                var url = school_user_server+"/user/findById";
                var _this = this;
                var token=window.localStorage.getItem("token_school");  //获取token
                axios.get(url,{
                    headers:{
                        //请求时添加token，验证是否登录
                        'Authorization':"Bearer "+token
                    }
                }).then(function (response) {
                    _this.result = response.data;
                    _this.user = _this.result.data;
                    if (_this.user.myqq==null||_this.user.myqq==""){
                        _this.user.myqq="暂无";
                    }
                    if (_this.user.mygrade==null||_this.user.mygrade==""){
                        _this.user.mygrade="暂无";
                    }
                    if (_this.user.myschool==null||_this.user.myschool==""){
                        _this.user.myschool="暂无";
                    }
                    if (_this.user.myprofessional==null||_this.user.myprofessional==""){
                        _this.user.myprofessional="暂无";
                    }
                    if (_this.user.personality==null||_this.user.personality==""){
                        _this.user.personality="暂无";
                    }

                //
                    if (_this.user.nickname==null||_this.user.nickname==""){
                        _this.user.nickname="暂无";
                    }
                    if (_this.user.birthday==null||_this.user.birthday==""){
                        _this.user.birthday="暂无";
                    }
                    if (_this.user.mobile==null||_this.user.mobile==""){
                        _this.user.mobile="暂无";
                    }
                    if (_this.user.nowcity==null||_this.user.nowcity==""){
                        _this.user.nowcity="暂无";
                    }
                    if (_this.user.sex==null||_this.user.sex==""){
                        _this.user.sex="未知";
                    }
                    if (_this.user.interest==null||_this.user.interest==""){
                        _this.user.interest="暂无";
                    }
                }).catch(function (err) {
                    // console.log("网络错误");
                });
            },
            toUpdateMyself:function () {
                this.updateFlag = false;
            },
            updateMyself:function () {
                this.updateFlag = true;
            }

        },  //methods
        created(){
            this.findUserById();
        }

    });
  </script>

  <!--判断是否登录代码判断登录通用代码，没登录会跳到登录页-->
  <script type="text/javascript" src="./js/loginFlag.js" >
  </script>
  <!--判断是否登录代码-->

  <!--将导航栏判断登录vue代码引进来-->
  <script type="text/javascript" src="./js/Nav_loginManager.js">
  </script>

  <!--尾部-->
  <div id="footer">
  </div>
  <script>
      $('#footer').load('footer.html');
  </script>
  <!--尾部-->
 </body>
</html>