<!DOCTYPE html>
<html lang="zh-CN">
 <head> 
  <meta charset="utf-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ --> 
  <meta name="description" content="" /> 
  <meta name="author" content="" /> 
  <link rel="icon" href="./img/asset-favicon.ico" /> 
  <title>社交-吐槽</title> 
  <!-- 页面 css js --> 
  <!-- <script type="text/javascript" src="../../plugins/sui/sui.min.js"></script> --> 
  <!-- <script type="text/javascript" src="../../plugins/bootstrap/dist/js/bootstrap.js"></script> --> 
  <link rel="stylesheet" type="text/css" href="./plugins/normalize-css/normalize.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/yui/cssgrids-min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/sui/sui.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/sui/sui-append.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/font-awesome/css/font-awesome.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/widget-base.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/widget-head-foot.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/bootstrap/dist/css/bootstrap.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/page-sj-spit-detail.css" />
  <script src="./js/jquery-3.4.1.js"></script>
  <script src="./js/vuejs-2.5.16.js"></script>
  <script src="./js/axios-0.18.0.js"></script>
  <script src="./js/schoolUrl.js"></script>
  <script src="./js/moment.js"></script>
  <style>
   [v-cloak]{
    display: none;
   }
  </style>
 </head> 
 <body> 
  <div class="wrapper">
   <!--引用组件-->
   <!--引用组件-->
   <!--头部导航-->
   <header id="index_header" v-cloak>
    <div class="sui-navbar" >
     <div class="navbar-inner">
      <!--<a href="index-logined.html" class="sui-brand">-->
      <a href="#" class="sui-brand">
       <!--<div >开心校园</div>-->
       <!--图标-->
       <!--./img/asset-favicon.ico
       ./img/asset-logo-black.png
       -->
       <img src="./img/asset-logo-black.png"  alt="社交" />
      </a>
      <ul class="sui-nav">
       <li ><a href="./index.html">首页</a></li>
       <li class="active"><a href="./qa-logined.html">问答</a></li>
       <li ><a href="./activity-index.html">活动</a></li>
       <li><a href="./makeFriends-index.html">交友</a></li>
      </ul>
      <form class="sui-form -pull-right">
       <input type="text" placeholder="输入关键词..." />
       <span class="btn-search fa fa-search"></span>
       <!--搜索-->

       <!--这部分为用户管理部分 没有登录状况-->
       <div class="sui-nav pull-right info" v-show="show">
        <li><a href="tologin_register.html" target="_blank">注册</a></li>
        <li><a href="tologin_register.html" target="_blank" class="sui-btn btn-login">登录</a></li>
       </div>
       <!--这部分为用户管理部分 没有登录状况-->
       <!--这部分为用户管理部分 登录后状况-->
       <div class="sui-nav pull-right info" v-show="!show">
        <li><a href="./other-notice.html" target="_blank" class="notice">通知</a></li>
        <!--中间加号-->
        <li class="hover">
         <span class="fa fa-plus "></span>
         <ul class="hoverinfo">
          <li><i class="fa fa-share-alt" ></i> <a href="boke-submit.html">去分享</a></li>
          <li><i class="fa fa-question-circle" aria-hidden="true"></i> <a href="./qa-submit.html" target="_blank">提问题</a></li>
          <li><i class="fa fa-comments" aria-hidden="true"></i><a href="./spit-submit.html" target="_blank">去吐槽</a></li>
          <li><i class="fa fa-heartbeat" aria-hidden="true"></i> <a href="./makeFriends-submit.html" target="_blank">发约会</a></li>
         </ul> </li>
        <!--中间加号-->
        <li><a href="./person-myfile.html" target="_blank" class="homego"><img src="./img/widget-photo.png" alt="用户头像" /></a></li>
       </div>
      </form>
      <!--这部分为用户管理部分 登录后状况-->
     </div>
    </div>
   </header>
   <!--头部导航-->
   <!--引用组件--> 
   <!--两列布局--> 
   <div class="wrapper tc-detail" id="problemDetailApp">
    <div class="fl left-list"> 
     <div class="tc-detail"> 
      <!-- 标题区 --> 
      <div class="detail-tit"> 
       <div class="detail-author"> 
        <a href="javascript:;" v-text="problemuser.user.nickname"></a> 发布
       </div> 
       <div class="detail-content"> 
        <p v-text="problemuser.problem.title"></p>
        <!--<img src="./img/widget-tc-detail.png" alt="" /> -->
       </div> 
       <div class="detail-tool"> 
        <ul> 
         <li>
          <span  @click="changeThumbup(problemuser.problem.id)">
            <span class="star"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
          <span v-text="problemuser.problem.thumbup" ></span></span>
          </span>

         </li>
        </ul> 
       </div> 
      </div> 
      <!-- 回复区 -->
      <div class="comment-area"> 
       <div class="comment-tit"> 
        <span>回复</span>
       </div> 
       <ul class="comment-list"> 
        <li  v-for="proreplyuser in proreplyusers">
         <div  class="fl img">
          <img :src="proreplyuser.user.avatar" alt="" style="height: 20px;"/>
         </div> 
         <div class="item-content"> 
          <p class="author"><a href="javascript:;" v-text="proreplyuser.user.nickname"></a> 发布</p>
          <p class="content" v-text="proreplyuser.problemReply.content"></p>
         </div> 
         <div class="item-thumb"> 
          <!--<div>-->
           <!--<i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 52-->
          <!--</div>-->
         </div>
        </li>

       </ul> 
      </div> 
     </div> 
    </div> 
    <div class="fl right-tag"> 
     <div class="block-btn"> 
      <p>赠人玫瑰，手留余香，来帮同学解决问题吧！</p>
      <a class="sui-btn btn-block btn-share" @click.stop="qareply()" target="_blank">发回复</a>
     </div>
     <br/>
     <div class="hot-tags" >
      <div class="head" style="text-align: center;margin: 0px auto" v-show="changeQaFlag">
      <textarea style="width:98%;height: 200px;" v-model="reply.content">

      </textarea>
       <br/> <br/>
       <button @click="savaReply()">提交</button>
       <!--<h3 class="title">热门标签</h3>-->
      </div>
     </div>
    </div> 
    <div class="clearfix"></div> 
   </div> 
  </div>

  <script type="text/javascript">
      new Vue({
          el:"#problemDetailApp",
          data:{
              problemuser:{},
              proreplyusers:[],
              changeQaFlag:false,
              reply:{},
              result:{}
          },
          methods:{
              loadQa:function () {
                  var url = window.location.href ;
                  var cs = url.split('?')[1];    //获取?之后的参数字符串
                  var params = cs.split('=');
                  var value = params[1];  //文章id
                  console.info("param value="+value)
                  //-------
                  var url = school_user_server+"/problem/"+value;

                  var _this = this;
                  //json请求用默认方式
                  axios.get(url).then(function (response) {
                      _this.result = response.data;
                      console.info(_this.result.message);
                      _this.problemuser = _this.result.data;
                  }).catch(function (err) {
                      console.log("网络错误");
                  });
              },
              loadReply:function () {
                  var url = window.location.href ;
                  var cs = url.split('?')[1];    //获取?之后的参数字符串
                  var params = cs.split('=');
                  var value = params[1];  //文章id
                  //-------
                  var url = school_user_server+"/proreply/problem/"+value;

                  var _this = this;
                  //json请求用默认方式
                  axios.get(url).then(function (response) {
                      _this.result = response.data;
                      console.info(_this.result.message);
                      _this.proreplyusers = _this.result.data;
                  }).catch(function (err) {
                      console.log("网络错误");
                  });

              },
              qareply:function () {
                  this.changeQaFlag = ! this.changeQaFlag;
              },
              savaReply:function () {
                  var url = window.location.href ;
                  var cs = url.split('?')[1];    //获取?之后的参数字符串
                  var params = cs.split('=');
                  var value = params[1];  //文章id
                  // 获取用户id
                  var url = school_user_server+"/proreply";
                  var _this = this;
                  var token=window.localStorage.getItem("token_school");  //获取token
                  if (token==null||token==""){
                      window.location.href=user_web_url+"/tologin_register.html";
                  }else{
                      //文章id
                      _this.reply.problemid=value;
                      // _this.reply.content= _this.replynow;
                      // _this.replynow=""
                      //要存入文章id，用户id，评论内容
                      axios.post(url,_this.reply,{
                          headers:{
                              //请求时添加token，验证是否登录
                              'Authorization':"Bearer "+token
                          }
                      }).then(function (response) {
                          _this.result = response.data;
                          _this.changeQaFlag = false;
                          _this.loadReply();

                      }).catch(function (err) {
                          alert("网络错误");
                      });
                  }
              },
              changeThumbup:function (id) {  //点赞
                  var token=window.localStorage.getItem("token_school");  //获取token
                  console.info("token="+token)
                  if (token==null||token==""){
                      window.location.href=user_web_url+"/tologin_register.html";
                  }else {
                      var url = school_user_server+"/problem/thumbup";
                      var params = new URLSearchParams()
                      params.append('proid', id)
                      var _this = this;
                      axios.post(url,params,{
                          headers:{
                              //请求时添加token，验证是否登录
                              'Authorization':"Bearer "+token
                          }
                      }).then(function (response) {
                          _this.result = response.data;
                           if ( _this.result.code =="20005"){
                               alert( _this.result.message )
                           }else if ( _this.result.code =="20000"){
                               _this.loadQa();
                           }

                      }).catch(function (err) {
                          // _this.loadQa();
                      });
                  }

              }
          },  //methods
          created(){
              this.loadQa();
              this.loadReply();
          }
      });
  </script>

  <!--将导航栏判断此页vue代码引进来-->
  <script type="text/javascript" src="./js/Nav_loginManager.js">

  </script>
  <!--尾部-->
  <div id="footer">

  </div>
  <script>
      $('#footer').load('footer.html');
  </script>
  <!--尾部-->
  <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js"></script> 
  <script type="text/javascript" charset="utf-8" src="http://v3.jiathis.com/code/jia.js"></script> 
 </body>
</html>