<!DOCTYPE html>
<html lang="zh-CN">
 <head> 
  <meta charset="utf-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ --> 
  <meta name="description" content="" /> 
  <meta name="author" content="" /> 
  <link rel="icon" href="./img/asset-favicon.ico" /> 
  <title>社交-问答</title> 
  <!-- 页面 css js --> 
  <!-- <script type="text/javascript" src="../../plugins/sui/sui.min.js"></script> --> 
  <link rel="stylesheet" type="text/css" href="./plugins/normalize-css/normalize.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/yui/cssgrids-min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/sui/sui.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/sui/sui-append.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/font-awesome/css/font-awesome.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/widget-base.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/widget-head-foot.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/page-sj-qa-logined.css" />
  <script src="./js/jquery-3.4.1.js"></script>
  <script src="./js/vuejs-2.5.16.js"></script>
  <script src="./js/axios-0.18.0.js"></script>
  <script src="./js/schoolUrl.js"></script>
  <script src="./js/moment.js"></script>
  <style>
   [v-cloak]{
    display: none;
   }
  </style>
 </head> 
 <body> 
  <div class="wrapper"> 
   <!--引用组件-->
   <!--引用组件-->
   <!--头部导航-->
   <header id="index_header" v-cloak>
    <div class="sui-navbar" >
     <div class="navbar-inner">
      <!--<a href="index-logined.html" class="sui-brand">-->
      <a href="#" class="sui-brand">
       <!--<div >开心校园</div>-->
       <!--图标-->
       <!--./img/asset-favicon.ico
       ./img/asset-logo-black.png
       -->
       <img src="./img/asset-logo-black.png"  alt="社交" />
      </a>
      <ul class="sui-nav">
       <li ><a href="./index.html">首页</a></li>
       <li class="active"><a href="./qa-logined.html">问答</a></li>
       <li ><a href="./activity-index.html">活动</a></li>
       <li><a href="./makeFriends-index.html">交友</a></li>
       <!--<li><a href="./spit-index.html">吐槽</a></li> -->
       <!--<li><a href="./recruit-index.html">招聘</a></li>-->
      </ul>
      <form class="sui-form -pull-right">
       <input type="text" placeholder="输入关键词..." />
       <span class="btn-search fa fa-search"></span>
       <!--搜索-->

       <!--这部分为用户管理部分 没有登录状况-->
       <div class="sui-nav pull-right info" v-show="show">
        <li><a href="tologin_register.html" target="_blank">注册</a></li>
        <li><a href="tologin_register.html" target="_blank" class="sui-btn btn-login">登录</a></li>
       </div>
       <!--这部分为用户管理部分 没有登录状况-->
       <!--这部分为用户管理部分 登录后状况-->
       <div class="sui-nav pull-right info" v-show="!show">
        <li><a href="./other-notice.html" target="_blank" class="notice">通知</a></li>
        <!--中间加号-->
        <li class="hover">
         <span class="fa fa-plus "></span>
         <ul class="hoverinfo">
          <li><i class="fa fa-share-alt" ></i> <a href="boke-submit.html">去分享</a></li>
          <li><i class="fa fa-question-circle" aria-hidden="true"></i> <a href="./qa-submit.html" target="_blank">提问题</a></li>
          <li><i class="fa fa-comments" aria-hidden="true"></i><a href="./spit-submit.html" target="_blank">去吐槽</a></li>
          <li><i class="fa fa-heartbeat" aria-hidden="true"></i> <a href="./makeFriends-submit.html" target="_blank">发约会</a></li>
         </ul> </li>
        <!--中间加号-->
        <li><a href="./person-myfile.html"  class="homego"><img src="./img/widget-photo.png" alt="用户头像" /></a></li>
       </div>
      </form>
      <!--这部分为用户管理部分 登录后状况-->
     </div>
    </div>
   </header>
   <!--头部导航-->


  </div> 
  <div class="tab-nav "  >
   <div class="wrapper">
    <ul class="fl sui-nav nav-tabs navbar-dark">
     <li class="active"><a href="#" data-toggle="tab">欢迎来到问答页</a></li>
    </ul>
    <!--<span class="fr more"><a href="./qa-allTag.html" target="_blank">更多</a></span> -->
    <div class="clearfix"></div>
   </div>
  </div>
  <!--两列布局-->
  <div class="wrapper qa-content" id="qaApp">
   <div class="fl left-list"> 
    <div class="tab-content"> 
     <div id="index" class="tab-pane active"> 
      <div class="tab-bottom-line"> 

       <div class="qa-list"> 
        <div class="tab-content"> 
         <div id="new" class="tab-pane active"> 
          <ul class="detail-list"> 

           <li class="qa-item" v-for="problemuser in problemusers">

            <div class="fl record"> 
             <div class="number"> 
              <div class="border useful"> 
               <p class="usenum"><span v-text="problemuser.problem.thumbup"></span></p>
               <p>有用</p> 
              </div>
             </div> 
            </div> 
            <div class="fl info"> 
             <div class="question"> 
              <p class="author"><span class="name" v-text="problemuser.user.nickname"></span ><span v-text="problemuser.problem.createtime">2019年6月19</span></p>
              <p class="title"><a :href="problemuser.problem.url" target="_blank"  v-text="problemuser.problem.title"></a></p>
             </div>
            </div> 
            <div class="clearfix"></div>
           </li>
          </ul> 
         </div>
        </div> 
       </div> 
      </div> 
     </div>
    </div> 
   </div> 
   <div class="fl right-tag"> 
    <div class="block-btn"> 
     <p>今天，有什么问题想问同学们吗?</p>
     <a class="sui-btn btn-block btn-share" @click.stop="changeQa()" >发布问题</a>
    </div> 
    <div class="hot-tags" >
     <div class="head" style="text-align: center;margin: 0px auto" v-show="changeQaFlag">
      <textarea style="width:98%;height: 200px;" v-model="problem.title">

      </textarea>
      <br/> <br/>
      <button @click="savaQa()">提交</button>
      <!--<h3 class="title">热门标签</h3>-->
     </div>
    </div>
   </div> 
   <div class="clearfix"></div> 
  </div>
  
  <script type="text/javascript">
       new Vue({
           el:"#qaApp",
           data:{
               changeQaFlag:false,
               result:{},
               problemusers:[],
               problem:{},

           },
           methods:{
               changeQa:function() {
                   this.changeQaFlag = ! this.changeQaFlag;
               },
               savaQa:function() {
                   if (this.problem.title == null || this.problem.title == "") {
                       // this.result.message="邮箱不能为空";
                       alert("内容不能为空");
                   } else {
                       //获取id，因为token里存的有，所以这里省略
                       var token = window.localStorage.getItem("token_school");  //获取token
                       console.info("userid=")
                       var url = school_user_server + "/problem";
                       var _this = this;
                       //json请求用默认方式
                       axios.post(url, _this.problem, {
                           headers: {
                               //请求时添加token，验证是否登录
                               'Authorization': "Bearer " + token
                           }
                       }).then(function (response) {
                           _this.result = response.data;
                           _this.successMsg = _this.result.message;
                           alert(_this.successMsg);
                          _this.loadInit();
                          _this.changeQaFlag = false;
                       }).catch(function (err) {
                           alert("网络错误");
                       });
                   }
               },
               loadInit:function () {
                   var url = school_user_server+"/problem/prouser/all";
                   console.info("url="+url);
                   var _this = this;
                   //json请求用默认方式
                   axios.get(url).then(function (response) {
                       _this.result = response.data;
                       _this.problemusers = _this.result.data;
                   }).catch(function (err) {
                       console.log("网络错误");
                   });
               }
           },
           created(){
               this.loadInit();
           }
       });
  </script>

  <!--将导航栏判断此页vue代码引进来-->
  <script type="text/javascript" src="./js/Nav_loginManager.js">

  </script>
  <!--尾部-->
  <div id="footer">

  </div>
  <script>
      $('#footer').load('footer.html');
  </script>
  <!--尾部-->
 </body>
</html>