<!DOCTYPE html>
<html lang="en">
 <head> 
  <meta charset="UTF-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ --> 
  <meta name="description" content="" /> 
  <meta name="author" content="" /> 
  <link rel="icon" href="./img/asset-favicon.ico" /> 
  <title>社交-登录注册</title> 
  <!-- 页面 css js --> 
  <!-- <script type="text/javascript" src="../../plugins/sui/sui.min.js" charset="UTF-8"></script> --> 
  <link rel="stylesheet" type="text/css" href="./plugins/normalize-css/normalize.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/yui/cssgrids-min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/sui/sui.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/sui/sui-append.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./plugins/font-awesome/css/font-awesome.min.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/widget-base.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/widget-head-foot.css" /> 
  <link rel="stylesheet" type="text/css" href="./css/page-sj-person-loginsign.css" />
  <script src="./js/vuejs-2.5.16.js"></script>
  <script src="./js/axios-0.18.0.js"></script>
  <script src="./js/jquery-3.4.1.js"></script>
  <script src="./js/schoolUrl.js"></script>
  <!--<link rel="stylesheet" type="text/css" href="./js/elementui/elementui.css">-->
  <!--<script src="./js/elementui/elementui.js"></script>-->
  <style>
   [v-cloak]{
    display: none;
   }
  </style>
 </head> 
 <body> 
  <!--头部导航--> 
  <header class="head-login"> 
   <div class="wrapper"> 
    <div class="sui-navbar"> 
     <div class="navbar-inner"> 
      <a href="./index-login.html" class="sui-brand"> <img src="./img/asset-logo-black.png" alt="社交" /> </a> 
      <span class="login-text">| 登录注册</span> 
     </div> 
    </div> 
   </div>
  </header>

  <div class="wrapper loginsign" >
   <!--注册-->
   <div class="item signup" id="registerApp">
    <div class="form"> 
     <h3 class="loginsign-title">注册新账号</h3> 
     <form class="sui-form"> 
      <div class="control-group"> 
       <label for="inputname" class="control-label">名字</label> 
       <div class="controls"> 
        <input type="text" id="register_name" v-model="user.nickname" placeholder="真实姓名或常用昵称" class="input-xlarge" />
       </div> 
      </div> 
      <div class="different"> 
       <div class="radio-content"> 
        <div id="a1" class="phone"> 
         <div class="control-group number"> 
          <input type="text" placeholder="请输入邮箱" class="input-xlarge" v-model.trim ="user.mobile"/>
         </div> 
         <div class="control-group code"> 
          <div class="input-append"> 
           <input v-model.trim="verifyCode" type="text" placeholder="邮箱验证码" class="span2 input-large msg-input" />
           <button type="button" v-if="show" class="sui-btn msg-btn" @click="getCode()">获取验证码</button>
           <button type="button" v-if="!show" class="sui-btn msg-btn">{{count}} s</button>
          </div> 
         </div> 
         <div class="control-group"> 
          <label for="inputpassword" class="control-label" >密码</label>
          <div class="controls"> 
           <input type="password" style="height: 32px" v-model.trim="user.password" placeholder="请输入密码" class="input-xlarge" />
          <br/>
           <span v-text="error" style="color: red;font-size: medium"></span>
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <div class="control-group btn-signup"> 
       <label class="control-label"></label> 
       <div class="controls"> 
        <label> <input type="checkbox" v-model="checkflag" style="margin-right: 0px;padding-right: 0px"/>
         <span class="type-text" style="font-size:12px;margin:0px;padding: 0px">同意协议并接受
         </span >
        </label>
        《<span style="color: green;margin:0px;padding: 0px" onclick="alert('在该平台不允许做任何违法国家法律的事情，否则后果自负')">服务条款</span>》
        <button type="button" class="sui-btn btn-danger btn-yes" @click="register()">注 册</button>
       </div> 
      </div> 
     </form> 
    </div> 
   </div>
   <!--注册-->
   <!--登录和修改密码-->
   <div class="item" id="loginApp" >
    <!--登陆-->
    <div class="form" v-show="registerLoginFlag">
     <h3 class="loginsign-title">用户登录</h3> 
     <form class="sui-form login-form"> 
      <div class="control-group"> 
       <label for="inputname" class="control-label" >邮箱：</label>
       <div class="controls"> 
        <input type="text" height="32px" id="inputname" v-model.trim="user.mobile" placeholder="请输入邮箱" class="input-xlarge" data-rules="required" />
       </div> 
      </div>

      <div class="control-group"> 
       <label for="inputpassword" class="control-label" >密码：</label>
       <div class="controls">
        <input type="password" style="height: 32px"  id="inputpassword" v-model.trim="user.password" placeholder="输入登录密码" class="input-xlarge" data-rules="required"/>
         <br/>
        <span v-text="result.message" style="color: red;font-size: medium"></span>
       </div>

      </div>


      <div class="controls">

       <label>
          <input type="checkbox" name="rememberme" v-model="rememberme"/>
          <span class="type-text" style="font-size:12px;">记住登录状态</span> &nbsp;&nbsp;
       </label>
       <label>
        <a class="type-text" style="font-size:12px;margin:0px;padding: 0px;color: green" @click="registerLoginComeBack()">忘记密码?
        </a >
       </label>
       <!-- 下面链接为了解决window.location.href 跳转兼容问题-->
       <a id='links' href="#" style='display:none;'></a>
       <button type="button" class="sui-btn btn-danger btn-yes" @click="login">登 录</button>
      </div> 
      <div class="other-methods"> 
      </div> 
     </form> 
    </div>
    <!--登陆-->
    <!--修改密码-->
    <div class="form" v-show="!registerLoginFlag">
     <h3 class="loginsign-title">修改密码</h3>
     <form class="sui-form">
      <!--<div class="control-group">-->
       <!--<label for="inputname" class="control-label">名字</label>-->
       <!--<div class="controls">-->
        <!--<input type="text" id="register_name3" v-model="user.nickname" placeholder="真实姓名或常用昵称" class="input-xlarge" />-->
       <!--</div>-->
      <!--</div>-->
      <div class="different">
       <div class="radio-content">
        <div id="a3" class="phone">
         <div class="control-group number">
          <label for="inputname" class="control-label">邮箱</label>
          <input type="text" placeholder="请输入邮箱" class="input-xlarge" v-model.trim ="user.mobile"/>
         </div>
         <div class="control-group code">
          <div class="input-append">
           <input v-model.trim="verifyCode" type="text" placeholder="邮箱验证码" class="span2 input-large msg-input" />
           <button type="button" v-if="show" class="sui-btn msg-btn" @click="updatePassCode()">获取验证码</button>
           <button type="button" v-if="!show" class="sui-btn msg-btn">{{count}} s</button>
          </div>
         </div>
         <div class="control-group">
          <label for="inputpassword" class="control-label" >密码</label>
          <div class="controls">
           <input type="password" style="height: 32px" v-model.trim="user.password" placeholder="请输入密码" class="input-xlarge" />
           <br/>
           <span v-text="result.message" style="color: red;font-size: medium"></span>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="control-group btn-signup">
       <label class="control-label"></label>
       <div class="controls">
        <label>
         &nbsp;&nbsp;
          <a class="type-text" style="font-size:12px;margin:0px;padding: 0px;color: green" @click="registerLoginComeBack()">返回登陆?
          </a >
        </label>
        &nbsp;&nbsp;
        <button type="button" class="sui-btn btn-danger btn-yes" @click="updatePass()">修改</button>
       </div>
      </div>
     </form>
    </div>
    <!--修改密码-->
   </div>
   <!--登录和修改密码-->

  </div>

  <!--将此页vue代码引进来-->
  <script type="text/javascript" src="./js/tologin_register.js">

  </script>


  <!--中间部分-->

  <!--尾部-->
  <div id="footer">

  </div>
  <script>
      $('#footer').load('footer.html');
  </script>
  <!--尾部-->

 </body>
</html>